<template>
    <el-row :gutter="20" style="margin: 10px">
        <el-col :span="12">
            <el-card shadow="hover" class="card membros-card">
                <h3>Membros do Plano</h3>
                <p>{{ membros.length }} de {{ limiteUsuarios }} parceiros cadastrados</p>

                <el-divider></el-divider>

                <div v-for="(membro, index) in membros" :key="index" class="membro">
                    <div class="avatar-container">
                        <el-avatar :src="membro.avatar || 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png'" size="medium" />
                    </div>

                    <div class="membro-info">
                        <p class="membro-nome">{{ membro.nome }}</p>
                        <span v-if="membro.donoConta" class="admin-badge">Admin</span>
                    </div>

                    <el-button type="primary" size="small">View</el-button>
                </div>
            </el-card>
        </el-col>

        <el-col :span="12">
            <el-card shadow="hover" class="invite-card">
                <h5><strong>Envie um convite para um colaborador da sua imobiliária se juntar ao time!</strong></h5>
                <p class="invite-description">
                    Para convidar alguém, envie o link abaixo ou crie um convite usando um serviço de mensagem ou e-mail.
                </p>
                <div class="invite-input-container">
                    <el-input v-model="linkConvite"
                              readonly
                              placeholder="Seu link de convite aqui"
                              class="link-input">
                        <template #prefix>
                            <img src="../resources/images/icons/link.svg"
                                 alt="linkAccount"
                                 class="link-icon"
                                 @click="copiarLinkDeConvite" />
                        </template>
                    </el-input>
                    <el-button type="primary" @click="gerarLinkConvite" class="generate-button">Gerar Link de Convite</el-button>
                </div>
                <el-divider></el-divider>
                <div class="invite-button-container">
                    <el-button type="success" @click="abrirWhatsapp" class="social-button">
                        <img src="../resources/images/icons/whatsapp.svg" alt="WhatsApp" class="social-icon" />
                        WhatsApp
                    </el-button>
                    <el-button type="medium" @click="abrirEmail" class="social-button">
                        <img src="../resources/images/icons/email.svg" alt="email" class="social-icon" />
                        E-mail
                    </el-button>
                </div>
            </el-card>
        </el-col>
    </el-row>
</template>

<script>
    module.exports = {
        data() {
            return {
                linkConvite: "",
                membros: [],
                limiteUsuarios: 6,
            };
        },
        mounted() {
            this.obterUsuariosConta();
            this.gerarLinkConvite();
        },
        methods: {
            obterUsuariosConta() {
                const url = this.$api.BuildURL(`parceiro/obtercontaporid/${this.$root.usuario.idConta}`);
                axios.get(url)
                    .then((request) => {
                        if (request.data && request.data.result) {
                            this.membros = request.data.result;
                        } else {
                            this.membros = [];
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                        if (error.response) {
                            console.error(error.response);
                        }
                        console.error("Não foi possível alterar dados.");
                    });
            },
            gerarLinkConvite() {
                const baseUrl = window.location.origin;
                this.linkConvite = `${baseUrl}/convite?cod=${encodeURIComponent(this.$root.usuario.tokenConta)}`;
                this.$message.success('Link de convite gerado com sucesso!');
            },
            copiarLinkDeConvite() {
                navigator.clipboard.writeText(this.linkConvite)
                    .then(() => {
                        this.$tools.MessageSuccess("Link copiado para área de transferência");
                    })
                    .catch((error) => {
                        console.error("Erro ao copiar o link: ", error);
                        this.$tools.MessageError("Falha ao copiar o link.");
                    });
            },
            abrirWhatsapp() {
                const linkConviteFormatted = this.linkConvite.startsWith('http')
                    ? this.linkConvite
                    : `https://${this.linkConvite}`;

                const message = encodeURIComponent(`Olá! Confira este link: ${linkConviteFormatted}`);
                const whatsappUrl = `https://wa.me/?text=${message}`;

                window.open(whatsappUrl, '_blank');
            },

            abrirEmail() {
                const linkConviteFormatted = this.linkConvite.startsWith('http')
                    ? this.linkConvite
                    : `https://${this.linkConvite}`;

                const subject = encodeURIComponent("Convite para se juntar");
                const body = encodeURIComponent(`Olá! Confira este link: ${linkConviteFormatted}`);

                const mailtoUrl = `mailto:?subject=${subject}&body=${body}`;

                window.open(mailtoUrl, '_blank');
            }
        }
    };
</script>

<style>
    .membros-card {
        padding: 20px;
    }

    .membro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        padding: 10px 0;
        border-bottom: 1px solid #f0f0f0;
    }

    .membro-info {
        flex-grow: 1;
        margin-left: 10px;
    }

    .membro-nome {
        font-weight: bold;
        margin: 0;
    }

    .membro-username {
        color: #666;
        font-size: 0.9rem;
        margin: 0;
    }

    .view-all-btn {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .custom-input {
        border-radius: 12px; /* Arredonda os cantos */
        background-color: #f5f7fa; /* Cor de fundo */
        padding: 10px; /* Espaçamento interno */
        border: 1px solid #e4e7ed; /* Cor da borda */
    }

    .custom-input .el-icon-link {
        color: #b0b0b0; /* Cor do ícone */
        margin-left: 8px; /* Espaçamento à esquerda do ícone */
    }

    .invite-card {
        padding: 20px;
    }

    .invite-title {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .invite-description {
        margin-bottom: 20px;
        font-size: 1rem;
        color: #666;
    }

    .invite-input-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .link-input {
        flex-grow: 1; /* Faz o input ocupar o espaço restante */
        margin-right: 10px; /* Espaçamento entre input e botão */
        border-radius: 4px; /* Bordas arredondadas */
        border: 1px solid #dcdfe6; /* Cor da borda */
        background-color: #f5f7fa; /* Cor de fundo */
    }

    .link-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        cursor: pointer;
    }

    .generate-button {
        min-width: 150px; /* Tamanho mínimo do botão */
        height: 40px; /* Altura do botão */
    }

    .invite-button-container {
        display: flex;
        gap: 10px;
    }

    .social-button {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    .social-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .admin-badge {
        background-color: #f56c6c;
        color: white;
        padding: 2px 8px;
        border-radius: 12px;
        font-size: 0.8rem;
    }
</style>