<template>

    <div class="row">

        <div class="col-12" style="width:100%;text-align:center;padding:40px;padding-left:0px" v-if="onRequest">
            <c-loading size="60px"></c-loading>
        </div>

        <div class="col-12" style="width:100%;text-align:center;padding:40px;padding-left:0px" v-else-if="indisponivel">
            <i class="fa fa-circle-exclamation" style="font-size:80px;color:var(--s-accent-color)"></i>  <br />
            <div style="font-size:20px;font-weight:700;color:var(--s-accent-color);margin-top:20px">Imóvel não encontrado ou não mais disponível.</div>
        </div>

        <div class="col-12" v-else>

            <div class="row">
                <div class="col-12 sm-hide md-hide lg-hide xl-hide">

                    <!--<el-carousel :interval="4000" type="card" height="400px" style="cursor:pointer;height:400px">
                    <el-carousel-item v-for="(item,index) in images" :key="index" @click="OpenModalImages(index)">
                            <img :src="item" />
                            <div style="width:100%;text-align:center">{{index+1}} / 4</div>
                    </el-carousel-item>
                </el-carousel>-->

                    <el-carousel :interval="4000" height="500px" style="cursor:pointer;height:480px" v-if="imovel.imagens.length > 0">
                        <el-carousel-item v-for="(item,index) in imovel.imagens" :key="index">
                            <el-image :src="item.url" fit="contain" />
                            <!--<img :src="item.url" />-->
                            <div style="width:100%;text-align:center">{{index+1}} / {{imovel.imagens.length}}</div>
                        </el-carousel-item>
                    </el-carousel>
                    <el-carousel :interval="0" arrow="never" style="border-radius:14px 0px 0px 14px;" v-else>
                        <el-carousel-item style="cursor:pointer;">
                            <img src="/resources/images/noimages.jpg" />
                        </el-carousel-item>
                    </el-carousel>


                    <q-btn label="Entrar em contato" color="primary" style="width:100%;height:40px;margin-top:20px" @click="$tools.SlideTo('form')"></q-btn>

                </div>

            </div>
            <div class="row">

                <div class="col-6 xs-hide" style="height:500px" v-if="imovel.imagens.length > 0">

                    <div style="cursor:pointer">
                        <el-image style="height:480px;width:100%;" :src="image.url" fit="cover" @click="OpenModalImages(imageIndex)" />
                        <!--<img style="padding:10px;padding-top:0px;cursor:pointer;padding-bottom:0px;fit:cover" :src="image.url" @click="OpenModalImages(imageIndex)" />-->  <!--fits = ['fill', 'contain', 'cover', 'none', 'scale-down']-->
                    </div>
                    <div style="width:100%;text-align:center;">
                            <q-btn flat icon="fa fa-caret-left" :ripple="false" @click="HilightImage(imageIndex-1)"></q-btn>
                            {{imageIndex+1}} / {{imovel.imagens.length}}
                            <q-btn flat icon="fa fa-caret-right" :ripple="false" @click="HilightImage(imageIndex+1)"></q-btn>
                    </div>
                </div>
                <div class="col-6 xs-hide" style="width:480px" v-else>
                    <img style="padding:10px;padding-top:0px;cursor:pointer;padding-bottom:0px" src="/resources/images/noimages.jpg" />
                </div>

                <div class="col-1" style="max-width:10px"></div>

                <div class="col-5 xs-hide" style="display:inline-block">
                    <div class="row" style="max-height:480px;overflow-y:auto">
                        <div class="col-6" v-for="(item,index) in imovel.imagens" :key="index" @click="HilightImage(index)" style="text-align:center">
                            
                            <!--<img :src="item" style="width: 100%; padding:10px;padding-top:5px;padding-bottom:5px;border:5px solid #fff"  />-->  <!--fits = ['fill', 'contain', 'cover', 'none', 'scale-down']-->
                            <el-image style="cursor:pointer;width:100%;height:200px;padding-right:10px;padding-top:0px" :src="item.url" fit="cover"></el-image>  <!--fits = ['fill', 'contain', 'cover', 'none', 'scale-down']-->
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">


                <div class="col-12" id="build-info">

                    <div id="body" class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12" style="text-align:right">

                            <div style="max-width:800px;text-align:left">

                                <div id="title" style="color:var(--s-accent-color)">
                                    <div style="width:calc(100% - 140px);">
                                        {{imovel.titulo}}
                                    </div>

                                    <div style="float:right;padding-right:20px;line-height:17px;">
                                        <span style="font-weight:600;font-size:11pt;padding-right:10px"><span style="color:var(--s-accent-color);">CÓD </span><span style="color:var(--s-alt-accent-color);font-size:12pt">{{imovel.cod}}</span></span>
                                        <br />
                                        <span style="font-size: 13px;color: #999;font-weight: 100;">{{$tools.FormatDateToBR(imovel.data)}}</span>

                                    </div>

                                </div>
                                <div id="subtitle">
                                    <span v-if="$validator.is(imovel.endereco.bairro)">{{imovel.endereco.bairro}}, </span>
                                    <span v-if="$validator.is(imovel.endereco.cidade)">{{imovel.endereco.cidade}}, </span>
                                    <span v-if="$validator.is(imovel.endereco.estado)">{{imovel.endereco.estado}}  </span>
                                    <br />
                                </div>

                                <div id="location">
                                    <i class="icons fa fa-map-marker-alt"></i>
                                    <span v-if="$root.isAuth">
                                        <span v-if="$validator.is(imovel.endereco.logradouro)">{{imovel.endereco.logradouro}}, </span>
                                        <span v-if="$validator.is(imovel.endereco.numero)">{{imovel.endereco.numero}}, </span>
                                        <span v-if="$validator.is(imovel.endereco.complemento)"> <span v-if="$validator.is(imovel.endereco.complementoTipo)">{{imovel.endereco.complementoTipo}} </span> {{imovel.endereco.complemento}}, </span>
                                        <!--<span v-if="$validator.is(imovel.andar && imovel.andar > 0)">{{imovel.andar}}º andar,  </span>-->
                                    </span>
                                    <span v-if="$validator.is(imovel.endereco.bairro)">{{imovel.endereco.bairro}}</span>
                                    <span v-if="$validator.is(imovel.endereco.cidade)">, {{imovel.endereco.cidade}}</span>
                                    <span v-if="$validator.is(imovel.endereco.estado)">, {{imovel.endereco.estado}}</span>
                                    <span v-if="$validator.is(imovel.endereco.cep)">, CEP: {{imovel.endereco.cep}}  </span>

                                </div>


                                <el-col class="price">
                                    <el-row>
                                        <el-col :md=6>Valor de Venda<br /><span>{{$tools.FormatMoneyBR(imovel.valor.venda)}}</span></el-col>
                                        <el-col v-if="$root.isAuth" :md=6>Condomínio<br /><span>{{$tools.FormatMoneyBR(imovel.valor.condominio)}}</span></el-col>
                                        <el-col v-if="$root.isAuth" :md=6>IPTU<br /><span>{{$tools.FormatMoneyBR(imovel.valor.iptuMensal)}}</span></el-col>
                                        <el-col v-if="$root.isAuth" :md=6>Comissão<br /><span>{{imovel.valor.comissao}}%</span></el-col>
                                    </el-row>
                                </el-col>

                                <el-col>
                                    <el-row>
                                        <el-col :md=24 style="font-size:13px;padding:10px;padding-top:0px;color:#a5a5a5">Os preços e informações poderão sofrer mudanças sem aviso prévio, por isso solicite a confirmação com nossos consultores.</el-col>
                                    </el-row>
                                </el-col>

                                <el-col>
                                    <el-row>
                                        <el-col :md=24 class="space"></el-col>
                                    </el-row>
                                </el-col>

                                <el-col id="resources">
                                    <el-row>
                                        <el-col :md=6> <i class="icons mdi mdi-bed-king"></i>{{imovel.interno.totalQuartos}} quartos</el-col>
                                        <el-col :md=6> <i class="icons fa fa-shower"    ></i>{{imovel.interno.totalBanheiros}} banheiros</el-col>
                                        <el-col :md=6> <i class="icons fa fa-bath"      ></i>{{imovel.interno.totalSuites}} suítes</el-col>
                                        <el-col :md=6 v-if="$root.isAuth"> <i class="icons fa fa-building"></i><span v-if="$validator.is(imovel.andar && imovel.andar > 0)">{{imovel.andar}}º andar</span><span v-else>térreo</span></el-col>
                                        <el-col :md=6> <i class="icons fa fa-car "         ></i>{{imovel.externo.totalVagas}} vagas</el-col>
                                        <el-col :md=6> <i class="icons mdi mdi-set-square "></i>{{imovel.area.total}} m&#178; <span style="color:#a5a5a5"> &nbsp;total</span></el-col>
                                        <el-col :md=6> <i class="icons mdi mdi-set-square "></i>{{imovel.area.interna}} m&#178; <span style="color:#a5a5a5"> &nbsp;interna</span></el-col>
                                        <el-col :md=6> <i class="icons mdi mdi-set-square "></i>{{imovel.area.externa}} m&#178;  <span style="color:#a5a5a5"> &nbsp;externa</span></el-col>
                                        <el-col :md=6> <i class="icons fa fa-elevator     "></i>{{imovel.externo.totalElevadores}} <span v-if="imovel.externo.totalElevadores <=1">elevador</span><span v-else>elevadores</span></el-col>
                                        <el-col :md=6 style="display:flex" v-if="imovel.anoConstrucao > 0"> <i class="icons icons mdi mdi-cake-variant " v-if="imovel.anoConstrucao > 0"></i><span style="padding-top:8px">{{imovel.anoConstrucao}} <span style="color:#a5a5a5">{{imovel.idade}} anos</span></span></el-col>
                                    </el-row>
                                </el-col>




                                <el-col>
                                    <el-row>
                                        <el-col :md=24 id="title">Descrição</el-col>
                                        <el-col :md=24 class="space"></el-col>
                                        <el-col :md=24 style="padding-right:30px">

                                            <div v-if="$validator.is(imovel.descricao)" style="font-size:17px;line-height:28px;text-align: justify;text-justify: inter-word;">
                                                <span v-html="imovel.descricao"></span>
                                            </div>
                                            <div v-else class="s-orange">
                                                <i class="fa fa-exclamation-circle"></i> não informado
                                                <!--
                                            Apartamento à venda no Cidade Nova, composto por 04 quartos amplos com armários planejados e
                                            piso em laminado de madeira, sendo 01 suíte máster com closet e hidromassagem e 01 suíte ampla,
                                            banho das suítes com bancada em granito, armário, espelho e box em blindex, banho social com
                                            bancada em granito, armário, espelho e box em blindex, ampla sala para 02 ambientes com
                                            rebaixamento em gesso, iluminação planejada e piso em porcelanato, varanda, cozinha com
                                            armários planejados e bancadas em granito, área de serviço separada com armário e DCE.
                                            <br /><br />
                                            Prédio com interfone, portão eletrônico, guarita, elevador social, gás canalizado, medidor de água
                                            individual, circuito de TV, sistema de alarmes, lazer com 03 piscinas aquecidas, academia, quadra de
                                            esportes, sauna, espaço gourmet e salão de festas, excelente localização privilegiada, próximo a
                                            todo tipo de comércio e com fácil acesso a linhas de ônibus.
                                            <br /><br />
                                            Agende já sua visita!!!!
                                                -->
                                            </div>
                                        </el-col>
                                    </el-row>
                                </el-col>

                                <el-col style="margin-top:40px;margin-bottom:40px;">
                                    <el-row>
                                        <el-col :md=24 id="title">Características</el-col>
                                        <el-col :md=24 class="space"></el-col>

                                        <!--<el-col :md=24  v-if="!temCaracteristicas" class="s-orange">
                                       <i class="fa fa-exclamation-circle"></i> não informado
                                    </el-col>
                                    <el-col :md=24 v-else>-->
                                        <el-col :md=24>
                                            <el-row>
                                                <el-col :md="24">
                                                    <!--<el-checkbox checked readonly label="Água individual   "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Alarme            "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Área de Serviço   "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Armário cozinha   "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Armário banheiro  "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Armário quarto    "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Box despejo       "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Cerca elétrica    "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Churrasqueira     "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Closet            "></el-checkbox><br />
                                                <el-checkbox checked readonly label="DCE               "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Gás canalizado    "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Hidromassagem     "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Interfone         "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Jardim            "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Lavabo            "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Piscina           "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Portao eletrônico "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Salas             "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Salão de festas   "></el-checkbox><br />
                                                <el-checkbox checked readonly label="Quadra esportiva  "></el-checkbox>-->
                                                </el-col>
                                                <el-col :span="12" v-if="imovel.interno.aguaIndividual    "  ><el-checkbox label="Água individual     " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.interno.areaServico       "  ><el-checkbox label="Área servico        " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.interno.armarioCozinha    "  ><el-checkbox label="Armário cozinha     " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.interno.armarioQuarto     "  ><el-checkbox label="Armário quarto      " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.interno.banheiro          "  ><el-checkbox label="Banheiro            " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.interno.boxDespejo        "  ><el-checkbox label="Box despejo         " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.interno.churrasqueira     "  ><el-checkbox label="Churrasqueira       " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.interno.dce               "  ><el-checkbox label="Dce                 " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.interno.gasCanalizado     "  ><el-checkbox label="Gás canalizado      " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.interno.sala              "  ><el-checkbox label="Sala                " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.interno.lavabo            "  ><el-checkbox label="Lavabo              " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.externo.alarme            "  ><el-checkbox label="Alarme              " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.externo.cercaEletrica     "  ><el-checkbox label="Cerca elétrica      " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.externo.elevador          "  ><el-checkbox label="Elevador            " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.externo.portaoEletronico  "  ><el-checkbox label="Portão eletrônico   " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.lazer.hidromassagem       "  ><el-checkbox label="Hidromassagem       " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.lazer.piscina             "  ><el-checkbox label="Piscina             " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.lazer.quadraPoliesportiva "  ><el-checkbox label="Quadra esportes     " checked readonly size="large"></el-checkbox></el-col>
                                                <el-col :span="12" v-if="imovel.lazer.salaoFestas         "  ><el-checkbox label="Salão de festas     " checked readonly size="large"></el-checkbox></el-col>

                                            </el-row>
                                        </el-col>

                                    </el-row>






                                </el-col>


                            </div>
                        </div>

                        <div class="col-1" style="max-width:100px"></div>




                        <div class="col-md-4 col-sm-12 col-xs-12">




                            <div class="building-form-wrapper" style="margin-bottom:20px" v-if="corretor.id > 0">
                                <div class="building-form" id="form">

                                    <el-row :gutter="20">
                                        <el-col :md="24" style="width:100%;text-align:center;margin:5px;margin-bottom:5px;">
                                            <div style="font-weight:bold;font-size:16pt;color:#fff">
                                                Entre em contato
                                                <!--<div v-if="corretor.tipo == 'PF'">CORRETOR</div>
                                            <div v-else>IMOBILIÁRIA</div>-->
                                            </div>
                                            <div style="font-weight:400;font-size:14pt;color:var(--s-alt-accent-color);margin:9px">
                                                <div><b>{{corretor.nome}}</b></div>
                                                <div style="color:#a5ffa6;margin-top:7px;font-size:14pt;cursor:pointer" @click="OpenLink(corretor.linkWhats)" v-if="corretor.telefone" ><i class="fab fa-whatsapp" style="font-size:18px"></i> {{corretor.telefone}}  <i class="fa fa-up-right-from-square" style="padding-left:6px;font-size:14px;"></i></div>
                                                <div style="color:#feffa5;margin-top:7px;font-size:13pt;cursor:pointer" @click="OpenLink(corretor.linkMail)" v-if="corretor.email"><i class="fa fa-envelope" style="font-size:14px"></i> {{corretor.email}}     <i class="fa fa-up-right-from-square" style="padding-left:6px;font-size:14px;"></i></div>
                                            </div>
                                        </el-col>
                                    </el-row>

                                </div>
                            </div>
                            <div class="building-form-wrapper">
                                <div class="building-form" style="color:#fff" id="form">

                                    <el-row :gutter="20" v-if="$validator.not(corretor.id) || corretor.id <= 0">
                                        <el-col :md="24" style="width:100%;text-align:center;font-weight:600;font-size:16pt;margin-top:10px;margin-bottom:20px;">
                                            Envie o link deste imóvel para seu corretor de confiança
                                        </el-col>
                                    </el-row>

                                    <el-row :gutter="20" style="padding:6px;margin-top:5px;padding-bottom:-14px">
                                        <el-col :md="24">
                                            <q-btn id="bt-send" label="Copiar link" icon="fa fa-copy" color="secondary" style="font-size:18px;width:100%;height:50px;border-radius:20px" @click="CopiarLink"></q-btn>
                                            <div style="width:100%;text-align:center;padding-top:14px;">
                                                <span v-if="copiarlinkLoading"> <c-loading size="20px" color="white"></c-loading></span>
                                                <span v-else>{{copiarlinkMensagem}}</span>
                                            </div>
                                        </el-col>
                                    </el-row>

                                </div>
                            </div>

                            <div style="margin:10px;margin-top:-20px;">
                                <c-agendamento :usuario="$root.usuario" :imovel="imovel"></c-agendamento>
                            </div>

                        </div>




                        <!--
                                                           <div class="col-md-4 col-sm-12 col-xs-12">
                                                                <div class="building-form-wrapper">
                                                                    <div class="building-form" style="color:#fff" id="form">

                                                                            <el-row :gutter="20">
                                                                                    <el-col :md="24" style="width:100%;text-align:center;font-weight:600;font-size:16pt;height:60px;line-height:60px;vertical-align:middle">
                                                                                             Entre em contato
                                                                                    </el-col>
                                                                            </el-row>
                                                                            <el-row :gutter="20">
                                                                                    <el-col :md="24" style="">
                                                                                            <div style="height:1px;background-color:#fff;"></div>
                                                                                    </el-col>
                                                                            </el-row>
                                                                            <el-row :gutter="20" style="margin-bottom:10px">
                                                                                    <el-col :md="24" style="width:100%;text-align:center;font-weight:600;font-size:16pt;height:60px;line-height:60px;vertical-align:middle">
                                                                                             (31) 9999-99999
                                                                                    </el-col>
                                                                                    <el-col :md="24" style="width:100%;text-align:center;font-weight:600;font-size:16pt;height:60px;vertical-align:top">
                                                                                            <q-btn id="bt-whats" label="Enviar Whatsapp" color="green-14" icon="fab fa-whatsapp" style="font-size:18px;width:100%;height:50px;border-radius:20px"></q-btn>
                                                                                    </el-col>
                                                                            </el-row>


                                                                            <el-row :gutter="20">
                                                                                    <el-col :md="24">
                                                                                                    <div></div>
                                                                                                    <el-input  color="secondary" v-model="$root.usuario.nome" placeholder="nome" maxlength="80" ></el-input>
                                                                                    </el-col>
                                                                            </el-row>

                                                                            <el-row :gutter="20">
                                                                                    <el-col :md="24">
                                                                                                    <el-input  color="secondary" v-model="$root.usuario.email" placeholder="e-mail" maxlength="80" ></el-input>
                                                                                    </el-col>
                                                                            </el-row>

                                                                            <el-row :gutter="20">
                                                                                    <el-col :md="24">
                                                                                                    <el-input  color="secondary" v-model="$root.usuario.telefone" placeholder="telefone" maxlength="80" ></el-input>
                                                                                    </el-col>
                                                                            </el-row>

                                                                            <el-row :gutter="20">
                                                                                    <el-col :md="24">
                                                                                                    <el-input  show-word-limit   color="secondary"  type="textarea" input-style="height:100px;border-radius:9px" v-model="$root.usuario.mensagem" placeholder="" maxlength="400" ></el-input>
                                                                                    </el-col>
                                                                            </el-row>

                                                                            <el-row :gutter="20" style="padding:6px;margin-top:5px">
                                                                                    <el-col :md="24">
                                                                                            <q-checkbox v-model="$root.usuario.permiteContato" label="Aceito receber novidades da Jácaptei" color="secondary" size="xs" ></q-checkbox>
                                                                                    </el-col>
                                                                            </el-row>

                                                                            <el-row :gutter="20" style="padding:6px;margin-top:5px">
                                                                                    <el-col :md="24">
                                                                                            <q-btn id="bt-send" label="Enviar" icon="fa fa-paper-plane" color="secondary" style="font-size:18px;width:100%;height:50px;border-radius:20px" @click="Send"></q-btn>
                                                                                    </el-col>
                                                                            </el-row>

                                                                            <el-row :gutter="20" style="padding:6px;margin-top:5px">
                                                                                    <el-col :md="24" style="text-align:center;font-size:9pt;color:#f8c8b7">
                                                                                           Ao informar meus dados, eu concordo com a Politica de Privacidade.
                                                                                    </el-col>
                                                                            </el-row>


                                                                    </div>
                                                                </div>
                                                           </div>
                         -->



                    </div>
                </div>

            </div>


            <el-row style="margin:40px;margin-top:20px;">
                <el-col :md=24 id="title">Mapa</el-col>
                <el-col :md=24 class="space"></el-col>
                <el-col :md=24>
                    <iframe width="600" height="450" style="border:0;border-radius:20px;width:100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" :src="'https://maps.google.com/maps?hl=pt&amp;q='+BuildMapAddress()+'+()&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed'"></iframe>
                    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3752.2183082941474!2d-43.92566310000001!3d-19.873001600000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69a8b42515555%3A0x533985eab790cf5e!2sR.%20Queluzita%2C%2034%20-%2015%C2%BA%20Andar%20-%20Fern%C3%A3o%20Dias%2C%20Belo%20Horizonte%20-%20MG%2C%2031910-252!5e0!3m2!1sen!2sbr!4v1695664157204!5m2!1sen!2sbr" width="600" height="450" style="border:0;border-radius:20px;width:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
                    <!--<iframe width="520" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20S%C3%A3o%20Paulo+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href='https://maps-generator.com/'>Maps Generator</a>-->
                    <!--<iframe width="600" height="450" style="border:0;border-radius:20px;width:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" :src="BuildMapAddress()"></iframe>-->
                    <!--<iframe width="600" height="450" style="border:0;border-radius:20px;width:100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" :src="'https://maps.google.com/maps?hl=en&amp;q='+BuildMapAddress()+'+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed'"></iframe>-->
                </el-col>
            </el-row>


            <!--<el-row style="margin:40px;">
            <el-col :md=24  id="title">Mais imóveis na região</el-col>
            <el-col :md=24  class="space"></el-col>
            <el-col :md=24>

                <q-virtual-scroll style="max-height: 300px;" :items="relatedBuildings" separator v-slot="{ item, index }" virtual-scroll-horizontal>
                        <div :key="index" class="row items-center" style="max-width:200px">
                            <c-building-mini-card></c-building-mini-card>
                        </div>
                    <q-separator vertical spaced ></q-separator>
                </q-virtual-scroll>

            </el-col>
        </el-row>-->


            <div class="row">
                <div style="width:100%;text-align:center">
                    <el-col :md="24" style="margin-top:20px">
                        <q-btn label="Voltar" color="secondary" style="width:200px;height:40px" @click="$root.RouteTo('/busca')"></q-btn>
                    </el-col>
                </div>
            </div>

        </div>





        <el-dialog v-model="showModalImages" :title="imovel?.titulo">

            <q-carousel v-model="imageIndex"
                        arrows
                        navigation
                        swipeable
                        animated
                        infinite>
                <template v-slot:navigation-icon="{ active, btnProps, onClick }">
                    <q-btn v-if="active" size="5px" color="orange"></q-btn>
                    <q-btn v-else size="4px" color="white" @click="onClick"></q-btn>
                </template>

                <q-carousel-slide v-for="(item,index) in imovel.imagens" :name="index" :img-src="item.url">

                </q-carousel-slide>
                <!--<q-carousel-slide :name="1" img-src="https://cdn.quasar.dev/img/mountains.jpg" />
            <q-carousel-slide :name="2" img-src="https://cdn.quasar.dev/img/parallax1.jpg" />
            <q-carousel-slide :name="3" img-src="https://cdn.quasar.dev/img/parallax2.jpg" />
            <q-carousel-slide :name="4" img-src="https://cdn.quasar.dev/img/quasar.jpg" />-->
            </q-carousel>

        </el-dialog>


    </div>



</template>


<script>
    module.exports = {

        name: 'JaCapteiImovelPagina65431',

        components: {

        },

        data: function () {
            return {

                onRequest: true,
                showModalImages: false,
                temCaracteristicas: false,
                indisponivel: false,
                favoritando: false,
                fromCache: false,

                imovel: {},
                id: null,
                cod: null,

                imageIndex: 0,
                imagesTotal: 0,
                images: [],
                image: "",
                queryImage: null,

                thumbs: [],

                relatedBuildings: [],

                checkboxes: true,

                url: window.location,
                copiarlinkLoading: false,
                copiarlinkMensagem: "",

                corretor:{id:0},

                usuario:{},

            }


        }, computed: {

        },
        created: function () {

            try{
                var p = this.$tools.HandleParams();
                this.id  = p.id;
                this.cod = p.cod;
            }catch(e){}

           //c2("this.$route.query.id", this.$route.query.id)

            if (this.$validator.is(this.$route.query)) {

                if(this.$validator.not(this.$route.query.id) && this.$validator.not(this.$route.query.cod)){
                    this.indisponivel = true;
                }else {

                    this.id  =  this.$tools.ParseInt(this.$route.query.id);
                    this.cod = this.$route.query.cod;

                    this.corretor.id        = this.$route.query.cid;
                    this.corretor.nome      = this.$route.query.cnome;
                    this.corretor.razao     = this.$route.query.crazao;
                    this.corretor.fantasia  = this.$route.query.cfantasia;
                    this.corretor.telefone  = this.$route.query.ctelefone;
                    this.corretor.email     = this.$route.query.cemail;
                    this.corretor.tipo      = this.$route.query.ctipo;

                    this.queryImage = this.$route.query.img;
                    //c(this.queryImage)
                }

            }else{

                var params = this.$tools.HandleParams();

                if (this.$validator.not(params.id) && this.$validator.not(params.cod))
                    this.indisponivel = true;
                else {
                    //c2("params", params)
                    this.id     = this.$tools.ParseInt(params.id);
                    this.cod    = params.cod;

                    this.corretor.id             = params.cid             ;
                    this.corretor.nome           = params.cnome           ;
                    this.corretor.razao          = params.crazao          ;
                    this.corretor.fantasia       = params.cfantasia       ;
                    this.corretor.telefone       = params.ctelefone       ;
                    this.corretor.email          = params.cemail          ;
                    this.corretor.tipo = params.ctipo;
                }


            }

            if(this.corretor.id > 0){
                if(this.corretor.telefone)
                    this.corretor.linkWhats = "https://api.whatsapp.com/send?phone=+55" + this.corretor.telefone.replaceAll("(", "").replaceAll(")", "").replaceAll("-", "").replaceAll(" ", "");
                if(this.corretor.linkMail)
                    this.corretor.linkMail  = "mailto:" + this.corretor.email;

                //var usr = "jcuser"+this.corretor.id;
                //var usuario = this.$sdata.Storage.Get(usr);
                //c2("Usuario",usuario.nome);
            }

            //c2("corretor", this.corretor)

            //this.images = this.imagesData.sort((a, b) => 0.5 - Math.random()).slice(0, this.imagesTotal);
            //this.images = this.imagesData.sort((a, b) => 0.5 - Math.random()).slice(0, this.imagesTotal);

            //if(this.$validator.is(this.$root.imovelClicado) && this.$validator.is(this.$root.imovelClicado?.cod))
            //     this.imovel = this.$root.imovelClicado;
            //else{
            //     this.imovel = this.$sdata.Storage.Get("imovel"+this.$route.query.cod);
            //}

            //var key = "imovel_cod_" + this.cod + "_id_" + this.id;
            //this.imovel = this.$sdata.Storage.Get(key);
            //if (this.$validator.not(this.imovel)) {
            //    this.fromCache = false;
            //    this.Search();
            //} else
            //    this.fromCache = true;


        },

        mounted() {

         window.setTimeout(()=> {
            
            try{
                if(!this.is(this.$root?.usuario) || !this.is(this.$root?.usuario?.id > 0)){
                    var usr = "jcuser"+this.corretor.id;
                    var usuario = this.$sdata.Storage.Get(usr);
                    if (usuario?.id > 0 && usuario?.tokenJWT){
                        this.$root.usuario = usuario;
                        this.$root.SignIn();
                    }
                }
           }catch(e){ 
               console.log(e);
           }finally{
             if(!this.indisponivel)
                this.Buscar();
           }
                    
         }, 2000);


        },
        methods: {

            is(val) {
                return (val && val != null && val !== null && val !== "null" && val != "null" && val != "" && typeof val != undefined && typeof val !== undefined && typeof val != 'undefined' && typeof val != 'UNDEFINED' && typeof val !== 'undefined' && typeof val !== 'UNDEFINED');
            },


            UpdateMetatags() {
                try { 

                    //document.getElementByName("msapplication-TileImage"     ).content = this.image.url;

                    var imageSplit = this.image.url.replace("https://imagizer.imageshack.com/", "").split("/");
                    var image = "https://imagizer.imageshack.com/v2/320x240q70/" + imageSplit[0].replace("img", "") + "/" + imageSplit[2];


                    document.getElementById("msapplication-TileImage"   ).content = image;
                    document.getElementById("og_site_name"              ).content = "JáCaptei #"+this.imovel.id;
                    document.getElementById("og_description"            ).content = this.$imovelHandler.BuildTitle(this.imovel);
                    document.getElementById("og_url"                    ).content = this.url;
                    document.getElementById("og_image").content = image;

                    /*
                    document.head.querySelector('meta[name="msapplication-TileImage"]'  ).content = image;
                    document.head.querySelector('meta[property="og:site_name"]'         ).content = "JáCaptei #"+this.imovel.id;
                    document.head.querySelector('meta[property="og:description"]'       ).content = this.$imovelHandler.BuildTitle(this.imovel);
                    document.head.querySelector('meta[property="og:url"]'               ).content = this.url;
                    document.head.querySelector('meta[property="og:image"]'             ).content = image;
                    //document.getElementById("og_image"      ).content = this.image.url;
                    //document.getElementById("og_description").content = this.$imovelHandler.BuildTitle(this.imovel);
                    //document.getElementById("favicon"       ).href = this.image.url;
                    */


                } catch (e) { console.log(e); }
            },


            CopiarLink() {
                
                //var link = this.$imovelHandler.BuildLink(this.imovel, this.image?.url, (this.$root.isAuth? this.$root.usuario : null));
                var link = window.location.href;
                
                navigator.clipboard.writeText(link);

                this.copiarlinkLoading = true;
                window.setTimeout(() => {
                    this.copiarlinkMensagem = "link copiado para área de transferência";
                    this.copiarlinkLoading = false;
                }, 600);

            },





            BuildMapAddress() {
                var res = "";
                if (this.$root.isAuth){
                    res += this.$validator.is(this.imovel.endereco.logradouro) ? this.imovel.endereco.logradouro + "," : "";
                    res += this.$validator.is(this.imovel.endereco.numero    )? this.imovel.endereco.numero   +",":"";
                }
                res += this.$validator.is(this.imovel.endereco.bairro) ? this.imovel.endereco.bairro + "," : "";
                res += this.$validator.is(this.imovel.endereco.cidade) ? this.imovel.endereco.cidade + "," : "";
                res += this.$validator.is(this.imovel.endereco.estado) ? this.imovel.endereco.estado + "" : "";
                res = res.replaceAll(" ", "%20");
                //res = "https://maps.google.com/maps?q="+res+"+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed";
                //c(res)
                return res;
            },




            HilightImage(index) {
                //c(index);
                if (index > (this.imagesTotal - 1))
                    index = 0;
                else if (index < 0)
                    index = (this.imagesTotal - 1);
                this.imageIndex = index;
                this.image = this.imovel.imagens[index];
                this.UpdateURL();
            },


            OpenModalImages(index) {
                this.imageIndex = index;
                //window.setTimeout(()=>this.showModalImages=true,2000)
                this.showModalImages = true;

            },


            async Buscar(){

                        var buscaImovel = {imovel:{}};
                        buscaImovel.imovel.id  = this.$validator.not(this.id)?  0 : this.id;
                        buscaImovel.imovel.cod = this.$validator.not(this.cod)? "": this.cod;
        
                        if(this.$root.isAuth)
                            buscaImovel.usuario = this.$root.usuario;

                        this.onRequest    = true;
                        this.indisponivel = false;

                        var request = await this.$api.Post("imovel/buscar/unidade",buscaImovel);

                        if (request?.status?.success){
                            buscaImovel  =  request.result;
                            this.imovel  =  buscaImovel.result.imoveis[0];
                            if(this.$validator.not(this.imovel))
                                this.indisponivel = true;
                            else
                                this.SetupImagens();
                        }else
                            this.indisponivel = true;

                        this.onRequest = false;

            },


            SetupImagens(){

                var limitTotalThumbs = 4;
                var _url = "";

                if(this.imovel?.imagens.length == 0)
                    this.thumbs.push( { url: "../resources/images/noimages.jpg" });
                else{

                    this.imagesTotal = this.imovel.imagens.length;
                    this.image       = this.imovel.imagens[0];

                    this.imovel.imagens.forEach( img => {
                                                    if(limitTotalThumbs > -1){
                                                        _url = (limitTotalThumbs == 0)? "../resources/images/moreimages.jpg" :  img.urlMedium ;
                                                        this.thumbs.push({ url: _url });
                                                        limitTotalThumbs--;
                                                     }
                                                }
                                        );
                    
                }
            },


            UpdateURL() {
                //var link = this.$imovelHandler.BuildLink(this.imovel, this.image?.url, (this.$root.isAuth? this.$root.usuario : null));
                ////window.location.assign(link);
                ////window.location.replace(link);
                //window.history.pushState('data', "JáCaptei", link);
            },

            Search() {

                this.onRequest = true;

                this.results = [];

                this.imovel     = {};
                var imovelBusca = {};
                imovelBusca.imovel = {};
                imovelBusca.imovel.id  = this.id;
                imovelBusca.imovel.cod = this.cod;

               //c2("imovelBusca.imovel.id", imovelBusca.imovel.id);
               //c2("imovelBusca.imovel.cod", imovelBusca.imovel.cod);

                axios.post(this.$api.BuildURL("imovel/buscar/unidade"), imovelBusca).then((request) => {
                    
                    //c2("request.data", request.data);
                    //c2("request.data", request.data.result.crmResult.result);
                    //c2("request.data", request.data.result.crmResult);
                    
                    if (request.data.status.success) {

                        if (this.$validator.not(request.data.result.crmResult) || this.$validator.not(request.data.result.crmResult.result.records) || request.data.result?.crmResult?.result?.records?.length == 0)
                            this.indisponivel = true;
                        else{

                            var imoveisRes = request.data.result.crmResult.result.records;
                            var imagensRes = JSON.parse(request.data.result.result.imagensJson);

                            //for(var i=0;i<imoveisRes.length;i++){
                            var i = 0;
                            var imovelCRM = imoveisRes[i];

                            imovelCRM.id  = this.id;
                            imovelCRM.cod = this.cod;

                            //this.imovel.imagens = this.imagesData.sort((a, b) => 0.5 - Math.random()).slice(0, 4);

                            var imovel = this.$imovelHandler.ParseCRM(this.imovel, imovelCRM, i);
                           
                            imovel.imagens = [];
                            imovel.thumbs = [];
                            //this.imovel.imagens       = request.data.result.images.filter(img => img.idImovel == this.imovel.id);

                            var imgtemp = {url:""};
                            if (this.$validator.is(imagensRes) && this.$validator.is(imagensRes?.result[imovel.idCRM])){
                                imagensRes.result[imovel.idCRM].forEach(    
                                    img =>{ 
                                        try {
                                            //if(img.url != "https://imagizer.imageshack.com/img924/2018/FhaS7d.png"){
                                                    imovel.imagens.push(img);
                                                    imgtemp.url = this.$imovelHandler.GetThumbnail(img, "1024x768");
                                                    if (imgtemp.url !== "/resources/images/noimages.jpg")
                                                        imovel.thumbs.push(imgtemp);
                                                    else
                                                        imovel.thumbs.push(img);
                                            // }
                                        } catch (e) {
                                            ce(""+e)
                                            imovel.thumbs.push({ url: "https://jacaptei.com.br/resources/images/noimages.jpg" });
                                            imovel.imagens.push({ url: "https://jacaptei.com.br/resources/images/noimages.jpg" });
                                        }
                                     }
                                );
                            }

                            try{
                                if (this.$validator.is(this.queryImage))
                                    this.image = imovel.imagens.filter((i) => i.url.split("/").reverse()[0] == this.queryImage.split("/").reverse()[0])[0];
                            } catch (e) { }
                            
                            this.imovel = imovel;
                            //c2("this.imovel", this.imovel);

                            this.images      = this.imovel.imagens;
                            this.image       = this.imovel.imagens[0];
                            this.imagesTotal = this.imovel.imagens.length;

                            this.CompletarLinksCorretor(this.imovel);
                            //this.UpdateMetatags();

                        }

                    } else {
                        this.$tools.Alert("Não foi possível efetuar a busca.");
                    }
                }).catch((error) => {
                    ce(error);
                    if (error.response)
                        ce(error.response);
                    //this.api.status.success=false;
                    //this.validator.AlertResponseErrors(error);
                    //this.messageFail="Não foi possível efetuar a busca.";
                    ce("Não foi possível efetuar a busca.");
                }).finally(() => {
                    this.onRequest = false;
                    //this.OutputResultMap(request.data.imovel);
                    //window.setTimeout(()=>{this.api.status.requesting = false;},400);
                });



            },


















        }

    }

</script>


<!--<script setup>
const isCollapse = ref(true);
const handleOpen = function(key, keyPath){
  c(key, keyPath);
}
const handleClose = function(key, keyPath){
  c(key, keyPath);
}
</script>-->

<style scoped>

    .el-checkbox.el-checkbox--large .el-checkbox__label {
        font-size: 17px;
        font-weight:600;
    }

    .space {
        height: 2px;
        background-color: #efefef;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }


    #build-info {
        /*height:240px;*/
        width: 100%;
        border-radius: 14px;
        margin:0px;
        margin-top:40px;
        text-align: center;
        /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
    }

    #build-info-xs {
        height: auto;
        width: calc(100% - 22px);
        border-radius: 14px;
        /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
    }


    #carousel-thumbs {
        /*height:240px;*/
        display: inline-block;
        padding: 0px;
        max-width: 400px;
        width: 33%;
        float: left;
    }



    #carousel-thumbs-xs {
        display: block;
        padding: 0px;
        width: 100%;
    }

    #body {
        text-align: left;
        padding: 20px;
        max-width: 1360px;
    }

    #body-xs {
        text-align: left;
        padding: 40px;
        width: 180px;
    }

    #title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 600;
        color: var(--s-text-color);
    }

    #subtitle {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        color: var(--s-text-color);
    }


    .icons {
        width: 28px;
        display: inline-block;
        text-align: center;
        line-height: 32px;
        color: var(--s-accent-color);
    }


    #location {
        font-size: 15px;
        line-height: 28px;
        font-weight: 500;
        color: #131A2E;
        color: #6a728a;
        padding: 10px 0px 5px 0px;
    }


    #resources {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: #131A2E;
        color: #6a728a;
        padding: 0px;
        margin-bottom: 40px;
    }


    #value {
        font-size: 25px;
        font-weight: 700;
        color: var(--s-accent-color);
        padding: 14px 0px 14px 0px;
    }


    #bt-whats .q-icon {
        font-size: 30px;
    }

    #bt-send .q-icon {
        font-size: 20px;
    }



    .el-carousel__item {
        background-color: #d3dce6;
    }

        .el-carousel__item div:nth-child(2) {
            z-index: 100000;
            color: #fff;
            text-shadow: -1px -1px 0 #353535, 1px -1px 0 #353535, -1px 1px 0 #353535, 1px 1px 0 #353535;
            margin-top: -26px;
            text-align: left;
            padding-left: 10px;
        }

        .el-carousel__item div:nth-child(3) {
            z-index: 100000;
            color: #fff;
            text-shadow: -1px -1px 0 #353535, 1px -1px 0 #353535, -1px 1px 0 #353535, 1px 1px 0 #353535;
            margin-top: -26px;
            text-align: right;
            padding-right: 10px;
        }



        .el-carousel__item span {
            color: #475669;
            opacity: 0.75;
            margin: 0;
            text-align: center;
        }
</style>


