<template>

        <div class="row">
            <div class="col-12">
                <q-tabs v-model="view"
                        dense
                        no-caps
                        align="left"
                        narrow-indicator
                        class="text-grey"
                        active-color="primary"
                        indicator-color="primary">
                    <q-tab name="visualizar" icon="fa fa-eye"   label="VISUALIZAR"   ></q-tab>
                    <q-tab name="alterar"    icon="fa fa-edit"    label="EDITAR"   ></q-tab>
                    <q-btn label="VOLTAR" outline color="primary" @click="$root.RouteTo('/imoveis')" style="margin-left:20px"></q-btn>
                    <!--<q-tab name="imoveis"	icon="fa fa-user-plus"			label="IMÓVEIS"		style="width:115px"></q-tab>-->
                </q-tabs>
                <q-tab-panels v-model="view" animated>

                    <q-tab-panel name="visualizar">
                        <page_visualizar :id="id" />
                    </q-tab-panel>

                    <q-tab-panel name="alterar">
                        <page_alterar :id="id" />
                    </q-tab-panel>

                </q-tab-panels>
            </div>
        </div>
</template>




<script>
	module.exports = {

		name: 'Imovel',

        components: {
            page_visualizar:    LoadComponent("./pages/imovel/Imovel-Visualizar.htm"),
            page_alterar:       LoadComponent("./pages/imovel/Imovel-Alterar.htm")
        },

		data: function () {
            return {
                view: "visualizar",
                id:0
			}
		}, computed: {

		},

		props: {
           
		},
		watch: {

		},
		created: function () {
            this.id = this.$route.params.id;
            this.$root.SetTitle("Imóvel #"+this.id, "fa fa-building", null);
		},
		mounted() {
        },
		methods: {
		}

	}


</script>


<style scoped>
</style>


