<template>

    <div class="row">


		    <el-row justify="center" v-if="onrequest">
                <el-col :md="24" style="color:var(--s-color-primary)">
                    <el-divider style="margin:10px;"><!--resultado--></el-divider>
                    <c-loading padding="20px"></c-loading>
                </el-col>
		    </el-row>


		    <el-row v-else>

                    <el-col :md="24">
                        <el-divider style="margin:10px"><!--resultado--></el-divider>

                        <el-row style="padding-left:20px;padding-right:20px;">
                            <el-col :md="24">
                                <div style="float:left">
                                    <span style="color:var(--s-color-primary)">encontrados</span><br />
                                        <span v-if="buscaImovel.total > 0">{{buscaImovel.total}}</span>
                                        <span v-else style="color:var(--s-color-orange)">nada encontrado</span>
                                </div>
                                <div style="float:right">
                                    <q-input v-model.number="buscaImovel.resultsPerPage" type="number" style="max-width:140px" label="RESULTADOS POR PÁGINA" stack-label :min="1" :dense="true" @keyup="()=>{ if(!onrequest){ Enviar(1);}}" @change="()=>{ if(!onrequest){ Enviar(1);}}"></q-input>
                                </div>
                            </el-col>
                        </el-row>

                        <el-divider style="margin:10px"></el-divider>
                    </el-col>
                </el-row>

                <el-row>

                <el-col  :md="24" style="color:var(--s-color-primary);font-weight:700" v-if="$validator.is(imoveisBuscaResult) && imoveisBuscaResult.length > 0">
                        <!-- TABLE IMOVEIS  -->

                        <el-table :data="imoveisBuscaResult" style="width: 100%" max-height="380" v-loading="ontablequest" :table-layout="auto" :row-class-name="tableRowClassName">

                            <el-table-column fixed="left" label="" width="120" style="color:orange">
                                    <template #default="scope" style="border-right:1px solid #000">
                                          <el-image style="width: 100px;cursor:pointer; height: 100px" :src="scope.row.urlImagemPrincipal" fit="fill"  @click="$root.RouteTo('imovel/'+scope.row.id)"></el-image>
                                    </template>
                            </el-table-column>


                                <!--<el-table-column prop="id" label="ID" width="60">
                                    <template #default="scope">
                                         <b>{{scope.row.id}}</b>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="id" label="COD" width="60">
                                    <template #default="scope">
                                         <b>{{scope.row.cod}}</b>
                                    </template>
                                </el-table-column>-->

                                <el-table-column label="" width="200">
                                    <template #default="scope">
                                        <div style="color:var(--s-color-primary);cursor:pointer"  @click="$root.RouteTo('imovel/'+scope.row.id)">
                                            <b><span v-html="scope.row.nome.replaceAll(',','<br>')" ></span></b>
                                        </div>
                                    </template>
                                </el-table-column>

                            <!--</el-table-column>-->
                            <!--<el-table-column label="CONTATO">-->
                                <el-table-column label="" width="300">
                                    <template #default="scope">
                                        <div style="color:var(--s-color-primary);">
                                                {{scope.row.proprietario.nome}}<br />
                                                <a :href="$tools.BuildWhatsappLink(scope.row.proprietario.telefone,'Olá '+scope.row.proprietario.apelido)" target="_blank" style="color:var(--s-color-green);text-decoration:none"><i class="fab fa-whatsapp" style="padding-right:3px;"></i> {{scope.row.proprietario.telefone}}</a>
                                                <br />
                                                <a :href="'mailto:'+scope.row.proprietario.email" target="_blank" style="color:var(--el-color-primary);text-decoration:none"><i class="fa fa-envelope"></i>&nbsp; {{scope.row.proprietario.email}}</a>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column label="" width="400">
                                    <template #default="scope">
                                        <div>
                                            <a v-if="$validator.is(scope.row.endereco.logradouro)" href="javascript:void(0)" @click="$tools.Copy((scope.row.endereco.logradouro+','+scope.row.endereco.numero+','+($validator.is(scope.row.endereco.complemento)? scope.row.endereco.complemento+',':'')+scope.row.endereco.bairro+','+scope.row.endereco.cidade+','+scope.row.endereco.estado))" style="text-decoration:none;color:var(--s-color-primary);margin-right:10px"><i class="fa fa-copy" style="padding-right:3px;text-decoration:none"></i></a>
                                            <a :href="$tools.BuildMapUrl(scope.row.endereco)" target="_blank" style="color:var(--s-text-color);text-decoration:none;margin-right:6px">
                                                <i style="color:var(--s-color-primary);margin-right:6px" class="fa fa-location-dot"></i>
                                                <div style="color:var(--s-color-text);">
                                                    {{scope.row.endereco.logradouro}}, {{scope.row.endereco.numero}}
                                                    <span v-if="$validator.is(scope.row.complemento)"> , {{scope.row.endereco.complemento}}</span>,
                                                    {{scope.row.endereco.bairro}},
                                                    {{scope.row.endereco.cidade}}, {{scope.row.endereco.estado}}, CEP: {{scope.row.endereco.cep}}
                                                </div>
                                            </a>
                                        </div>
                                    </template>
                                </el-table-column>
                            <el-table-column prop="data" label="" width="140">
                                <template #default="scope">
                                    {{$tools.FormatDateToBR(new Date(scope.row.data))}}
                                </template>
                            </el-table-column>
                            <el-table-column label="" width="60">
                                <template #default="scope">
                                    <a v-if="$validator.is(scope.row.obs)" href="javascript:void(0)" @click="$tools.Alert(scope.row.obs,'OBSERVAÇÕES')" style="color:var(--s-color-primary);text-decoration:none"><i class="fa fa-message"></i></a>
                                    <a v-else href="javascript:void(0)" @click="$tools.Message('sem observações')" style="color:var(--s-color-grey);text-decoration:none"><i class="fa fa-message"></i></a>
                                </template>
                            </el-table-column>
                        </el-table>

                </el-col>


		    </el-row>

    </div>



</template>


<script>
    module.exports = {

        name: 'JaCapteiImovelVisualizar',

        components: {

        },

        data: function () {
            return {
                busca                   : this.$models.busca(),
                buscaImovel             : this.$models.buscaImovel(),
                imovel                  : this.$models.imovel(),
                id                      : 0,
                admins                  : this.$root.admins,
            }
        },

		props: {
            id: { type: Number, required: true, default: 0 },
		},
        
        computed: {

        },



        created: function () {


        },



        mounted() {

  
            this.Enviar(1);

        },


        methods: {



			async Enviar(page){

                this.buscaImovel.page = page;
                this.buscaImovel.imovelJC.id = 1;

                this.onrequest  = true;
                var request     = await this.$api.Post("imovel/buscar",this.buscaImovel);

                // c2("request",request);

                if (request?.status?.success){
                    if(this.$validator.is(request.result.imoveisJC))
                            this.imoveisBuscaResult =  request.result.imoveisJC;
                } 

                this.onrequest  = false;

			},


        }

    }

</script>


<!--<script setup>
const isCollapse = ref(true);
const handleOpen = function(key, keyPath){
  c(key, keyPath);
}
const handleClose = function(key, keyPath){
  c(key, keyPath);
}
</script>-->

<style scoped>

    .el-checkbox.el-checkbox--large .el-checkbox__label {
        font-size: 17px;
        font-weight:600;
    }

    .space {
        height: 2px;
        background-color: #efefef;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }


    #build-info {
        /*height:240px;*/
        width: 100%;
        border-radius: 14px;
        margin:0px;
        margin-top:40px;
        text-align: center;
        /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
    }

    #build-info-xs {
        height: auto;
        width: calc(100% - 22px);
        border-radius: 14px;
        /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
    }


    #carousel-thumbs {
        /*height:240px;*/
        display: inline-block;
        padding: 0px;
        max-width: 400px;
        width: 33%;
        float: left;
    }



    #carousel-thumbs-xs {
        display: block;
        padding: 0px;
        width: 100%;
    }

    #body {
        text-align: left;
        padding: 20px;
        max-width: 1360px;
    }

    #body-xs {
        text-align: left;
        padding: 40px;
        width: 180px;
    }

    #title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 600;
        color: var(--s-text-color);
    }

    #subtitle {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        color: var(--s-text-color);
    }


    .icons {
        width: 28px;
        display: inline-block;
        text-align: center;
        line-height: 32px;
        color: var(--s-accent-color);
    }


    #location {
        font-size: 15px;
        line-height: 28px;
        font-weight: 500;
        color: #131A2E;
        color: #6a728a;
        padding: 10px 0px 5px 0px;
    }


    #resources {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: #131A2E;
        color: #6a728a;
        padding: 0px;
        margin-bottom: 40px;
    }


    #value {
        font-size: 25px;
        font-weight: 700;
        color: var(--s-accent-color);
        padding: 14px 0px 14px 0px;
    }


    #bt-whats .q-icon {
        font-size: 30px;
    }

    #bt-send .q-icon {
        font-size: 20px;
    }



    .el-carousel__item {
        background-color: #d3dce6;
    }

        .el-carousel__item div:nth-child(2) {
            z-index: 100000;
            color: #fff;
            text-shadow: -1px -1px 0 #353535, 1px -1px 0 #353535, -1px 1px 0 #353535, 1px 1px 0 #353535;
            margin-top: -26px;
            text-align: left;
            padding-left: 10px;
        }

        .el-carousel__item div:nth-child(3) {
            z-index: 100000;
            color: #fff;
            text-shadow: -1px -1px 0 #353535, 1px -1px 0 #353535, -1px 1px 0 #353535, 1px 1px 0 #353535;
            margin-top: -26px;
            text-align: right;
            padding-right: 10px;
        }



        .el-carousel__item span {
            color: #475669;
            opacity: 0.75;
            margin: 0;
            text-align: center;
        }
</style>


