<template>

        <div class="row">
            <div class="col-12">
                <q-tabs v-model="view"
                        dense
                        no-caps
                        align="left"
                        narrow-indicator
                        class="text-grey"
                        active-color="primary"
                        indicator-color="primary">
                    <q-tab name="buscar"      icon="fa fa-search" label="BUSCAR"   ></q-tab>
                    <q-tab name="adicionar"   icon="fa fa-plus"   label="ADICIONAR"   ></q-tab>
                </q-tabs>
                <q-tab-panels v-model="view" animated>

                    <q-tab-panel name="buscar">
                        <page_buscar />
                    </q-tab-panel>

                    <q-tab-panel name="adicionar">
                        <page_adicionar />
                    </q-tab-panel>

                </q-tab-panels>
            </div>
        </div>
</template>




<script>
	module.exports = {

		name: 'Imóveis',

        components: {
			page_buscar:	LoadComponent("./pages/imovel/Index-Buscar.htm"),
			page_adicionar:	LoadComponent("./pages/imovel/Index-Adicionar.htm"),
        },

		data: function () {
			return {
                view:"adicionar"
			}
		}, computed: {

		},

		props: {

		},
		watch: {

		},
		created: function () {
            this.$root.SetTitle("Imóveis", "fa fa-building", null);
           if(this.$validator.is(this.$router.params?.view))
               this.view = (this.$router.params.view == "buscar" || this.$router.params.view == "adicionar")? this.$router.params.view : "buscar";
		},
		mounted() {
        },
		methods: {
		}

	}


</script>


<style scoped>
    .q-stepper--horizontal .q-stepper__step-inner {
        padding: 10px;
    }
</style>


