<!--

            TRANSFERIDO PARA _Layout
            por conta do roteamento envolvendo leitura de tags OpenGraph (para relacionar titulo, descricao e imagem em links copiados)
             - mesmo caso do site -
-->




<!--
<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="JáCaptei - sua plataforma de imóveis" />
    <meta name="keywords" content="Imóvel, Imóveis, Busca, Gestão, Compra, Venda, Seguro, Assessoria Jurídica, Avaliação Mercadológica" />
    <meta name="author" content="JáCaptei" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />
    <meta name="msapplication-TileImage" content="https://admin.jacaptei.com.br/resources/images/icons/JaCaptei150px.png" />
    <link rel="icon" href="https://admin.jacaptei.com.br/resources/images/icons/JaCaptei150px.png" sizes="32x32" />
    <link rel="icon" href="https://admin.jacaptei.com.br/resources/images/icons/JaCaptei300px.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://admin.jacaptei.com.br/resources/images/icons/JaCaptei300px.png" />
    <link rel="canonical" href="https://admin.jacaptei.com.br" />

    <title>JáCaptei . Admin</title>

    <script src="./resources/libs/jquery/jquery.min.js"></script>
    <script src="./resources/libs/axios/axios.min.js"></script>

    <script src="./resources/js/libs/locations.js"></script>
    <script src="./resources/js/libs/sdata.js" type="module"></script>

    <script src="./resources/js/libs/helpers.js"></script>
    <script src="./resources/js/libs/prototypes.js"></script>

    <script src="./resources/vue/vue.js"></script>
    <script src="./resources/vue/vue3-sfc-loader.js"></script>
    <script src="./resources/vue/vue-loader.js"></script>
    <script src="./resources/vue/vue-router.js"></script>
    <script src="./resources/js/libs/loader-components-help.js"></script>



<script src="./resources/js/libs/maska.js"></script>
<script src="./resources/js/libs/vmoney3.js"></script>

<script src="./resources/js/configs/routes.js"></script>
<script src="./resources/js/configs/components.js"></script>
<script src="./resources/js/main.js" type="module"></script>

</head>
<body>
    <div id="app">




        <div id="top">

            <el-container :class="isAuth? 'base-layout':'login-layout'">

                <el-header class="header" v-if="isAuth">
                    <c-header></c-header>
                </el-header>

                <el-container>

                    <div :style="$root.menu.isCollapse? 'margin-right:60px;':'margin-right:200px;'" v-if="isAuth">
                        <el-aside style="background: #07459f; margin-top:80px;position:fixed;height:100%">
                            <c-menu></c-menu>
                        </el-aside>
                    </div>

                    <el-container style="min-height:100%; margin-top:80px;" v-cloak>
                        <el-main style="background-color:#fff;" id="content">
                            <div :class="isAuth? 'content':'content-login'">
                                <div v-if="pageLoading" style="position:absolute">
                                    <c-loading></c-loading>
                                </div>
                                <div :style="pageLoading? 'opacity:0':'opacity:1'">
                                    <c-title :label="$root.title.label" :icon="$root.title.icon" :actionback="$root.title.actionBack" :visible="$root.title.visible"></c-title>
                                    <router-view v-slot="{ Component }">
                                        <div :style="pageLoading? 'opacity:0':'opacity:1'">
                                            <Transition name="fade" mode="out-in">
                                                <component :is="Component"></component>
                                            </Transition>
                                        </div>
                                    </router-view>
                                </div>
                            </div>

                        </el-main>

                    </el-container>
                </el-container>
            </el-container>


        </div>


    </div>

    <footer>


        <script src="./resources/frameworks/quasar/quasar.umd.prod.js"></script>
        <script src="./resources/frameworks/element/element-plus.prod.js"></script>
        <script src="https://unpkg.com/@element-plus/icons-vue@2.1.0/dist/index.iife.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/quasar@v2/dist/icon-set/fontawesome-v6.umd.prod.js"></script>

    </footer>

</body>
</html>

-->
