<template>
                    <div>
                        
								<el-row :gutter="20">
                                        <el-col :md="24" style="width:100%;text-align:center;font-weight:600;font-size:16pt;margin-top:10px;margin-bottom:20px;">
								                    Agendar visita
                                        </el-col>
                                </el-row>


                    </div>

</template>

<script>
module.exports = {
    components: {

	},	
	
	data: function () {
		return {
			view:"home",
			content:"",
			agenda : {data : new Date(), hora : "", obs:""},
			onRequest:false,
			data:new Date(),
		}
	},computed: {
      
	},
	
	props:{
	},
	watch:{
	},
	created: function () {
	 },
	mounted(){
		this.GetSchedules();
	},		  
	methods: {



		GetSchedules(){

               if(this.$root.isAuth){
                  
				                axios.post(this.$api.BuildURL("ObterAgendamentosVTiger"),this.$root.usuario).then((request) => {
						                c(request)
						                if(request.data.success){
							                
						                }else{
						                }
					                }).catch((error) => {
						                ce(error);
						                this.ShowView("fail");
					                }).finally(() => {
								
					                });
			    }



            },












	}				
		
}

</script>


<style scoped>
.s-note{
	margin:20px;margin-top:0px;
	text-align:left
}
.s-note-item{
    color: rgb(173 173 173);
    font-size: 16px;
    font-weight: 600;
	margin-bottom:10px;
}
.s-note-item > i{
    font-size: 16px;
    font-weight: 600;
	margin-right:6px;
}
</style>


