<template>
		<div :style="'min-width:'+width+';min-height:'+height+';display:block;color:white'">.</div>
</template>

<script>
module.exports = {

    components: {

	},	
	
	data: function () {
		return {
		}
	},computed: {
      
	},
	
	props:{
			width:		{ type: String, required: false, default: "20px" },
			height:		{ type: String, required: false, default: "20px" },
	},
	watch:{
	},
	created: function () {
	 },
	mounted(){
	},		  
	methods: {

	}				
		
}

</script>


<style scoped>


</style>


