<template>
	<span v-if="show" style="padding-left:10px;padding-right:10px;font-size:14px">
            <el-tooltip v-if="$validator.is(note)" :content="GetContent()" placement="top" raw-content>
					<i :class="icon" :style="'color:'+color"></i>
            </el-tooltip>
            <el-tooltip v-else :content="info" placement="top" raw-content>
					<i :class="icon" :style="'color:'+color"></i>
            </el-tooltip>
	</span>
</template>

<script>
module.exports = {
    components: {

	},	
	
	data: function () {
		return {
			content:""
		}
	},computed: {
      
	},
	
	props:{
        show:			{ type: Boolean, required: false, default: false },
        note:			{ type: Object,  required: false, default: null  },
        info:			{ type: String,  required: false, default: "" },
        complement:		{ type: String,  required: false, default: "" },
        icon:			{ type: String,  required: false, default: "fa fa-warning" },
        color:			{ type: String,  required: false, default: "#ff49be" },
	},
	watch:{
	},
	created: function () {
		this.content="";
		if(this.$validator.is(this.note)){
			if(this.$validator.is(this.note.info))
				this.content+=this.note.info;
			if(this.$validator.is(this.note.complement))
				this.content+=this.note.complement;
		}
		else{
			if(this.$validator.is(this.info))
				this.content+=this.info;
			if(this.$validator.is(this.complement))
				this.content+=this.complement;
		}

	 },
	mounted(){
		
	},		  
	methods: {
		GetContent(){
			var content="";
			if(this.$validator.is(this.note.info) && this.$validator.is(this.note.complement))
				content+="<b>" + this.note.info + "</b> "+this.note.complement;
			else if(this.$validator.is(this.note.info))
				content+=this.note.info;
			else if(this.$validator.is(this.note.complement))
				content+=this.note.complement;
			return content;
		}
	}				
		
}

</script>


<style scoped>
.s-note{
	margin:20px;margin-top:0px;
	text-align:left
}
.s-note-item{
    color: rgb(173 173 173);
    font-size: 16px;
    font-weight: 600;
	margin-bottom:10px;
}
.s-note-item > i{
    font-size: 16px;
    font-weight: 600;
	margin-right:6px;
}
</style>


