<template>

        <div class="row">
            <div class="col-12">
                <q-tabs v-model="view"
                        dense
                        no-caps
                        align="left"
                        narrow-indicator
                        class="text-grey"
                        active-color="primary"
                        indicator-color="primary">
                    <q-tab name="buscar"    icon="fa fa-search"    label="BUSCAR"   ></q-tab>
                    <q-tab name="adicionar" icon="fa fa-user-plus" label="ADICIONAR"></q-tab>
                    <!--<q-tab name="register"	icon="fa fa-user-plus"			label="CADASTRE-SE"		style="width:115px"></q-tab>-->
                </q-tabs>
                <q-tab-panels v-model="view" animated>

                    <q-tab-panel name="buscar">
                        <page_buscar />
                    </q-tab-panel>

                    <q-tab-panel name="adicionar">
                        <page_adicionar @voltar="view='buscar'" />
                    </q-tab-panel>

                </q-tab-panels>
            </div>
        </div>
</template>




<script>
	module.exports = {

        name: 'JCAdminProprietarios',

        components: {
			page_buscar:	LoadComponent("./pages/proprietario/Index-Buscar.htm"),
            page_adicionar: LoadComponent("./pages/proprietario/Index-Adicionar.htm")
        },

		data: function () {
			return {
                view:"buscar"
			}
		}, computed: {

		},

		props: {

		},
		watch: {

		},
		created: function () {
            this.$root.SetTitle("Proprietários", "fa fa-house-user", null);
           if(this.$validator.is(this.$router.params?.view))
               this.view = (this.$router.params.view == "buscar" || this.$router.params.view == "adicionar")? this.$router.params.view : "buscar";
		},
		mounted() {
        },
		methods: {
		}

	}


</script>


<style scoped>
    .titler {
        font-size: 17px;
        font-family: "hind-regular", "Segoe UI", sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0;
        color: #FFF;
        background-color: #0080ff;
        line-height: 36px;
        height: 38px;
        vertical-align: middle;
        background: rgb(0,90,255);
        -webkit-box-shadow: 0px 5px 15px 5px rgba(0,44,87,0.29);
        box-shadow: 0px 5px 10px 2px rgba(0,44,87,0.29);
        z-index: 1000;
        /*background: linear-gradient(90deg, rgba(0,90,255,1) 0%, rgba(2,4,118,1) 85%, rgba(0,1,68,1) 100%);*/
        /*background: linear-gradient(200deg,rgba(0,1,68,1) 0%, rgba(115,85,255,0.8) 0%, rgba(0,1,68,1) 100%);*/
        background: linear-gradient(292deg,rgba(0,1,68,1) 0%, rgb(69 0 203 / 90%) 0%, rgba(0,1,68,1) 100%);
    }
</style>


