   
.search-wrapper{
    padding:20px;
    background-color:#efefef;
    border-radius:14px;
    /*height:100vh;*/
    width: auto;
}

   
.search-wrapper-home{
    padding:10px;
    padding-top:1px;
    background-color:var(--s-accent-color);
    border-radius:0px;
    /*height:100vh;*/
    width: auto;
    letter-spacing: 0.02em;
    color: var(--s-text-color);
    max-width:320px;
    margin:20px;
}


.search-form .el-row{
    margin-top:15px;
}


   
.price{
    margin-top:15px;
    margin-bottom:5px;
    padding:10px;
    padding-left:20px;
    background-color:#efefef;
    border-radius:10px;
    /*height:100vh;*/
    width: auto;
    height:auto;
}

.price span{
    font-size:20px;
    font-weight:700;
    color:var(--s-accent-color);
}


.search-form{
    max-width:320px;
    letter-spacing: 0.02em;
    color: var(--s-text-color);
    margin-top:15px;
}

.search-form p{
    font-size: 0.84em;
    font-weight: 800;
    text-decoration: inherit;
    padding-left: 6px;
}


/*
.search-form > div:first-child{
    font-size: 0.8em;
    font-weight: 800;
    text-decoration: inherit;
    padding-left: 6px;
}
.search-form > div:first-child > span{
    color:#a0a0a0;
    font-weight: 400;
    font-size:0.9em;
}
.search-form > div:first-child > i{
    padding-right:2px;
}
*/

.search-form-address{
    max-width:400px;
    letter-spacing: 0.02em;
    color: #4c9afb;
    margin-top:0px;
}
.search-form-address > div:first-child{
    color: #4c9afb;
    font-size: 0.9em;
    line-height: 24px;
    font-weight: 600;
    text-decoration: inherit;
    padding-left:2px;
}
.search-form-address > div:first-child > span{
    color:#a0a0a0;
    font-weight: 400;
    font-size:0.9em;
}
.s-inpu-addresst > div:first-child > i{
    padding-right:2px;
}


.search-form-required{
    max-width:400px;
    letter-spacing: 0.02em;
    color:orange;
    margin-top:10px;
}
.search-form-required > div:first-child{
    color: orange;
    font-size: 0.9em;
    line-height: 24px;
    font-weight: 600;
    text-decoration: inherit;
    padding-left:2px;
}
.search-form-required > div:first-child > span{
    color:#a0a0a0;
    font-weight: 400;
    font-size:0.9em;
}
.search-form-required > div:first-child > i{
    padding-right:2px;
}

.search-form .el-input__wrapper{
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0px 11px 0px 11px;
    background-color: var(--el-input-bg-color,var(--el-fill-color-blank));
    background-image: none;
    border-radius: 9px !important;
    transition: var(--el-transition-box-shadow);
    transform: translate3d(0,0,0);
    /*box-shadow: 0 0 0 1px var(--el-input-border-color,var(--el-border-color)) inset;
    box-shadow: 0 0 0 1px orange inset;*/
    box-shadow: none;
    border: solid 1px #d9d9d9 !important;
}

.search-form .el-input__inner{
    color:var(--s-accent-color) !important;
}









   
.building-form-wrapper{
    padding:2px;
    background-color:var(--s-accent-color);
    border-radius:20px;
    /*height:100vh;*/
    width: auto;
    letter-spacing: 0.02em;
    color:#fff;
    max-width:360px;
    /*margin:20px;*/
    padding-left:30px;
    padding-right:30px;
    padding-bottom:10px
}


.building-form{
    max-width:320px;
    letter-spacing: 0.02em;
    color: var(--s-alt-text-color);
    margin-top:15px;
}
.building-form p{
    font-size: 0.84em;
    font-weight: 800;
    text-decoration: inherit;
    padding-left: 6px;
}



.building-form .el-input__wrapper{
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0px 11px 0px 11px;
    background-color: var(--el-input-bg-color,var(--el-fill-color-blank));
    background-image: none;
    border-radius: 9px !important;
    transition: var(--el-transition-box-shadow);
    transform: translate3d(0,0,0);
    /*box-shadow: 0 0 0 1px var(--el-input-border-color,var(--el-border-color)) inset;
    box-shadow: 0 0 0 1px orange inset;*/
    box-shadow: none;
    border: solid 1px #d9d9d9 !important;
    margin-bottom:10px;
}

.building-form .el-input__inner{
    color:var(--s-alt-accent-color) !important;
}



