<template>
    <div>
        <el-row @keyup.enter="Buscar()">
            <el-col :md="24">
                <el-row style="margin-left: 10px" :gutter="20">
                    <div style="width:100%; display: flex; align-items: center; justify-content: space-between;">
                        <el-col :xs="24" :sm="12" :md="8" :lg="6" class="s-input">
                            <div>CPF/CNPJ<span></span></div>
                            <el-input style="width:100%"
                                      v-model="documento"
                                      :placeholder="placeholderText"
                                      :maxlength="maxlength"
                                      @input="applyMask"
                                      @blur="CheckDoc"></el-input>
                        </el-col>
                    <el-col :xs="24" :sm="12" :md="8" :lg="6" class="s-input" style="display: flex; align-items: center; justify-content: flex-end; margin-top: 25px;">
                        <div style="display: flex; align-items: center; gap: 20px;">
                            <q-btn label="CONSULTAR" color="primary" @click="Enviar()"></q-btn>
                        </div>
                    </el-col>
                    </div>
                </el-row>

                <el-row justify="center" v-if="onrequest">
                    <el-col :md="24" style="color:var(--s-color-primary)">
                        <el-divider style="margin:10px;"><!--resultado--></el-divider>
                        <c-loading padding="20px"></c-loading>
                    </el-col>
                </el-row>

                <!--<el-row v-else>
                    <el-col :md="24">

                        <el-row>
                            <el-col :md="24">
                                <el-divider style="margin:10px">--><!--resultado--><!--</el-divider>

                                <el-row style="padding-left:20px;padding-right:20px;">
                                    <el-col :md="24">
                                        <div style="float:left">
                                            <span style="color:var(--s-color-primary)">encontrados</span><br />
                                            <span v-if="busca.total > 0">{{busca.total}}</span>
                                            <span v-else style="color:var(--s-color-orange)">nada encontrado</span>
                                        </div>
                                        <div style="float:right">
                                            <q-input v-model.number="busca.resultsPerPage" type="number" style="max-width:140px" label="RESULTADOS POR PÁGINA" stack-label :min="1" :dense="true" @keyup="()=>{ if(!onrequest){ Enviar(1);}}" @change="()=>{ if(!onrequest){ Enviar(1);}}"></q-input>
                                        </div>
                                    </el-col>
                                </el-row>

                                <el-divider style="margin:10px"></el-divider>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :md="24">-->

                                <!--TABLE-->

                                <!--<el-table :data="data" style="width: 100%" max-height="380" v-loading="ontablequest" :table-layout="auto" :row-class-name="tableRowClassName">

                                    <el-table-column prop="id" label="ID" width="70">
                                        <template #default="scope">
                                            <b @click="Alterar(scope)" style="cursor:pointer;color:var(--s-color-primary)">{{scope.row.id}}</b>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="NOME" width="250">
                                        <template #default="scope">
                                            <b @click="Alterar(scope)" style="cursor:pointer">{{scope.row.nome}}</b>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="E-Mail" width="220">
                                        <template #default="scope">
                                            <a :href="'mailto:'+scope.row.email" target="_blank" style="color:var(--el-color-primary);text-decoration:none"><i class="fa fa-envelope"></i>&nbsp; {{scope.row.email}}</a>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="TELEFONE" width="150">
                                        <template #default="scope">
                                            <a :href="$tools.BuildWhatsappLink(scope.row.telefone,'Olá '+scope.row.apelido)" target="_blank" style="color:var(--s-color-green);text-decoration:none"><i class="fab fa-whatsapp" style="padding-right:3px;"></i> {{scope.row.telefone}}</a>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="CPF" width="150">
                                        <template #default="scope">
                                            <a href="javascript:void(0)" @click="$tools.Copy(scope.row.cpf)" style="text-decoration:none;color:var(--s-color-tex-alt)"><i class="fa fa-copy" style="padding-right:3px;color:var(--el-color-primary);text-decoration:none"></i> {{scope.row.cpf}}  </a>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="rg" label="RG" width="120" />-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column label="CONTATO">-->
                                    <!--<el-table-column label="ENDEREÇO" width="400">
                                        <template #default="scope">
                                            <a :href="$tools.BuildMapLink(scope.row)" target="_blank" style="color:var(--s-text-color);text-decoration:none;margin-right:6px">
                                                <i style="color:var(--s-color-primary);margin-right:6px" class="fa fa-location-dot"></i>
                                                {{scope.row.logradouro}}, {{scope.row.numero}}
                                                <span v-if="$validator.is(scope.row.complemento)"> , {{scope.row.complemento}}</span>,
                                                {{scope.row.bairro}},
                                                {{scope.row.cidade}}, {{scope.row.estado}}, CEP: {{scope.row.cep}}
                                            </a>
                                        </template>
                                    </el-table-column>-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column label="ENDEREÇO">-->
                                    <!--<el-table-column prop="cidade"      label="CIDADE"      width="280" />
                                        <el-table-column prop="estado"      label="ESTADO"      width="140" />
                                        <el-table-column prop="bairro"      label="BAIRRO"      width="240" />
                                        <el-table-column prop="logradouro"  label="LOGRADOURO"  width="240" />
                                        <el-table-column prop="numero"      label="NÚMERO"      width="140" />
                                        <el-table-column prop="complemento" label="COMPLEMENTO" width="140" />
                                    <!--</el-table-column>-->
                                    <!--<el-table-column prop="data" label="DATA" width="140">
                                        <template #default="scope">
                                            {{$tools.FormatDateToBR(new Date(scope.row.data))}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="OBS" width="60">
                                        <template #default="scope">
                                            <a v-if="$validator.is(scope.row.obs)" href="javascript:void(0)" @click="$tools.Alert(scope.row.obs,'OBSERVAÇÕES')" style="color:var(--s-color-primary);text-decoration:none"><i class="fa fa-message"></i></a>
                                            <a v-else href="javascript:void(0)" @click="$tools.Message('sem observações')" style="color:var(--s-color-grey);text-decoration:none"><i class="fa fa-message"></i></a>
                                        </template>
                                    </el-table-column>
                                    <el-table-column fixed="right" label="Ações" width="90" style="color:orange">
                                        <template #default="scope">

                                            <div style="display:inline-block;margin-left:8px;margin-right:20px" @click="Alterar(scope)">
                                                <i class="fa fa-edit" style="color:var(--s-color-primary);cursor:pointer"></i>
                                            </div>

                                            <div style="display:inline-block">

                                                <el-popconfirm width="220"
                                                               confirm-button-text="SIM"
                                                               cancel-button-text="Não"
                                                               :icon="InfoFilled"
                                                               icon-color="var(--s-color-primary)"
                                                               :title="'Excluir ID#'+scope.row.id+' . '+scope.row.nome+'?'"
                                                               @confirm="Excluir(scope)">
                                                    <template #reference>
                                                        <i class="fa fa-trash" style="color:var(--s-color-red);cursor:pointer"></i>
                                                    </template>
                                                </el-popconfirm>
                                            </div>

                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :md="24">

                                <div class="q-pa-lg flex flex-center">
                                    <el-pagination layout="prev, pager, next" :total="busca.total" :page-size="busca.resultsPerPage" v-model:current-page="busca.page" @current-change="Enviar"></el-pagination>
                                </div>

                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>-->
            </el-col>
        </el-row>
    </div>
</template>


<script>
    module.exports = {

        name: 'Buscar',

        components: { },

        data: function () {
            return {
                onrequest: false,
                ontablequest: false,
                busca: this.$models.busca,
                jsonDocumento: "",
                data: null,
                valorInserido: '',
                id: null,
                documento: "",
                placeholderText: 'Digite o CPF ou CNPJ',
                maxlength: 22
            }
        },

        computed: {},
        props: {},
        watch: {},

        created: function () {
            this.busca.item = this.$models.proprietario();
        },
        mounted() {
            //this.$refs.documento.focus();
            //this.Enviar();
        },
        methods: {
            applyMask() {
                this.valorInserido = this.documento.replace(/\D/g, '');
                if (this.valorInserido.length <= 11) {
                    this.documento = this.valorInserido.replace(/(\d{3})(\d)/, '$1.$2')
                        .replace(/(\d{3})(\d)/, '$1.$2')
                        .replace(/(\d{3})(\d{1,2})$/, '$1-$2');
                } else {
                    this.documento = this.valorInserido.replace(/^(\d{2})(\d)/, '$1.$2')
                        .replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3')
                        .replace(/\.(\d{3})(\d)/, '.$1/$2')
                        .replace(/(\d{4})(\d)/, '$1-$2');
                }
            },

            tableRowClassName(scope) {
                if (!scope.row.ativo)
                    return "deleted-row";
            },

            async Excluir(scope) {

                this.ontablequest = true;
                var request = await this.$api.Get(("proprietario/excluir/" + scope.row.id));
                this.ontablequest = false;

                if (request?.status?.success) {
                    this.busca.result.forEach((i) => { i.ativo = (i.ativo && i.id != scope.row.id); });
                    this.$tools.AlertSuccess("Proprietário excluído!");
                }

                //var item = this.busca.result.filter((i) => i.id === id)[0];
                //delete this.busca.result[this.busca.result.indexOf(item)];
                //this.$tools.Message("Item excluído");
            },

                async Enviar() {

                    if (this.$validator.is(this.documento))
                    this.onrequest = true;
                    this.jsonDocumento = JSON.stringify(this.documento);  // Converte o documento para uma string JSON
                    var request = await this.$api.Post("api/imoview/integracao/cliente", { cpfCnpj: this.documento });
                    this.onrequest = false;

                    if (request?.status?.success) {
                        this.busca = request.result;
                        this.data = this.busca.result;
                    } else {

                    }
                }
        }
    }
</script>


<style>
</style>


