<template>
    <div id="parceiro_solicitacao_busca" tabindex="0">


        <el-row :gutter="20" v-if="view == 'request' ">

            <el-col :md="24" style="width:100%;text-align:center;padding:40px;padding-left:0px">
                <c-loading size="60px"></c-loading>
            </el-col>

        </el-row>

        <el-row :gutter="20" v-else-if="view == 'fail' ">
            <el-col :md="24" style="width:100%;text-align:center;padding:40px;padding-left:0px">
                <div class="title" style="color:var(--s-color-red)"><b><i class="fa fa-circle-xmark"></i> Falhou</b></div>
                <br />Não foi possível buscar solicitação,<br />favor tentar novamente.
                <br /><br />
                <q-btn color="white" text-color="orange-10" label="VOLTAR" @click="ShowView('form')" style="width:200px;"></q-btn>
            </el-col>
        </el-row>

        <el-row :gutter="20" v-else>

            <el-col :md="24" style="width:100%;text-align:center;padding:20px;padding-left:0px;cursor:pointer" @click="Enviar">
                <i class="fa fa-refresh" style="font-size: 20px; color: var(--s-color-primary);"></i>
            </el-col>

            <el-col :md="24" style="width:100%;text-align:center;padding:40px;padding-left:0px" v-if="results?.length == 0">
                <i class="fa fa-circle-exclamation" style="font-size:80px;color:var(--s-accent-color)"></i>  <br />
                <div style="font-size:20px;font-weight:700;color:var(--s-accent-color);margin-top:20px">Sem solicitações</div>
            </el-col>
            <el-col :md="24" v-for="(item,index) in results" v-else style="padding:10px">

                <q-card style="width:100%;color:#fff" v-if="item.ativo">

                    <q-card-section style="cursor:pointer" @click="()=>{item.acaocard==('abrir-card'+item.id)?  item.acaocard=('fechar-card'+item.id) :  item.acaocard=('abrir-card'+item.id);}" :class="item.idStatus == 3? 'bg-yellow-9' : item.idStatus == 5? 'bg-yellow-9' :  item.idStatus == 11? 'bg-red' : 'bg-teal' ">
                        <div class="text-h10" style="font-size:16px">
                            <span class="text-h10">
                                <b style="margin-right:10px;">ID# {{item.id}}</b> 
                                <span v-if="item.agendado">
                                    <i title="agendado" style="padding-left:10px;padding-right:10px;color:#fff;" class="fa fa-calendar"></i>
                                    {{$tools.FormatDayToBR(item.dataVisita)}} {{$tools.GetDayWeek(item.dataVisita)}} {{$tools.GetHours(item.dataVisita)}}h
                                </span>
                            </span>
                            <span class="text-h10">
                                <span style="float:right;">
                                    <span style="font-weight:300;padding-right:20px">
                                        {{$tools.FormatDayToBR(item.data)}} {{$tools.GetDayWeek(item.data)}} {{$tools.GetHours(item.data)}}h
                                    </span>
                                    <span v-if="item.idStatus < 9">
                                       <span v-if="item.idImovel > 0">Confirmando</span> <span v-else>Averiguando</span>
                                    </span>
                                    <span v-else-if="item.idStatus == 9 || item.idStatus == 10">
                                       <span v-if="item.idImovel > 0">Realizado</span> <span v-else>Encontrado <i class="fa fa-thumbs-up" style="padding-left:10px"></i></span>
                                    </span>
                                    <span v-else-if="item.idStatus == 11">
                                       <span v-if="item.idImovel > 0">Cancelado</span> <span v-else> Não encontrado <i class="fa fa-thumbs-down" style="padding-left:10px"></i></span>
                                    </span>
                                    <span v-else>
                                        <span></span>
                                    </span>
                                    <span style="margin-left:15px;">
                                        <i class="fa fa-caret-down" v-if="item.acaocard != ('abrir-card'+item.id)"></i>
                                        <i class="fa fa-caret-up" v-else></i>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </q-card-section>

                    <q-card-section :id="'content'+item.id" v-if="item.acaocard==('abrir-card'+item.id)" style="margin-bottom:5px">

                        <div>


                            <div style="margin-top:10px;font-weight:500;color:#000">

                                <el-input v-if="item.idImovel > 0" v-model="item.titulo" readonly input-style="color:#000" @click="()=>{item.acao=='abrir-imovel'?  item.acao='fechar-imovel' :  item.acao='abrir-imovel';}">
                                    <template #prepend>
                                        <div style="text-transform:uppercase;font-weight:660;width:110px;text-align:right;cursor:pointer;" @click="()=>{item.acao=='abrir-imovel'?  item.acao='fechar-imovel' :  item.acao='abrir-imovel';}">
                                            Imóvel <i style="padding-left:4px" class="fa fa-building"></i>
                                        </div>
                                    </template>
                                    <template #append>
                                        <q-btn icon="fa fa-copy" flat @click="$tools.CopyLink(item.titulo)" style="width:10px" :title="item.titulo"></q-btn>
                                        <q-btn icon="fa fa-up-right-from-square" flat style="margin-left:5px;width:10px" @click="$tools.OpenLink(item.url)"></q-btn>
                                        <div @click="()=>{item.acao=='abrir-imovel'?  item.acao='fechar-imovel' :  item.acao='abrir-imovel';}" style="cursor:pointer;text-align:center">
                                            <q-btn icon="fa fa-caret-down" flat style="margin-left:5px;width:10px" v-if="item.acao != 'abrir-imovel'"></q-btn>
                                            <q-btn icon="fa fa-caret-up" flat style="margin-left:5px;width:10px" v-else></q-btn>
                                        </div>
                                    </template>
                                </el-input>
                                <div v-if="item.acao=='abrir-imovel'">
                                    <q-card>
                                        <q-card-section>
                                            <div style="font-size:15px">
                                               <div><a href="javascript:void(0)" @click="$tools.Copy(item.titulo)"      style="text-decoration:none;color:var(--s-color-tex-alt)">{{item.titulo}}         <i class="fa fa-copy" style="text-decoration:none;color:#999"></i></a></div>
                                               <div><a href="javascript:void(0)" @click="$tools.Copy(item.idImovel)"    style="text-decoration:none;color:var(--s-color-tex-alt)">ID #{{item.idImovel}}   <i class="fa fa-copy" style="text-decoration:none;color:#999"></i></a><br /></div>
                                               <div><a href="javascript:void(0)" @click="$tools.Copy(item.codImovel)"   style="text-decoration:none;color:var(--s-color-tex-alt)">COD {{item.codImovel}}  <i class="fa fa-copy" style="text-decoration:none;color:#999"></i></a><br /></div>
                                               <div><a href="javascript:void(0)" @click="$tools.OpenLink(item.url)"     style="text-decoration:none;color:var(--s-color-tex-alt)">ABRIR  <i class="fa fa-up-right-from-square" style="text-decoration:none;color:#999"></i></a><br /></div>
                                            </div>
                                        </q-card-section>
                                    </q-card>
                                </div>

                            </div>

                            <div style="margin-top:10px;font-weight:500;color:#000">
                                <el-input :value="$validator.is(item.proprietarioCaptacao)? item.proprietarioCaptacao : '' " placeholder="aguardar" readonly input-style="color:#000">
                                    <template #prepend>
                                        <div style="text-transform:uppercase;font-weight:660;width:110px;text-align:right;cursor:pointer;" @click="()=>{item.acao=='abrir-proprietario'?  item.acao='fechar-proprietario' :  item.acao='abrir-proprietario';}">
                                            Proprietário <i style="padding-left:4px" class="fa fa-house-user"></i>
                                        </div>
                                    </template>
                                    <template #append>
                                        <div @click="()=>{item.acao=='abrir-proprietario'?  item.acao='fechar-proprietario' :  item.acao='abrir-proprietario';}" style="cursor:pointer;text-align:center">
                                            <q-btn icon="fa fa-caret-down" flat style="margin-left:5px;width:10px" v-if="item.acao != 'abrir-proprietario'"></q-btn>
                                            <q-btn icon="fa fa-caret-up" flat style="margin-left:5px;width:10px" v-else></q-btn>
                                        </div>
                                    </template>
                                </el-input>
                             </div>

                              <div v-if="item.acao=='abrir-proprietario'">
                                    <q-card>
                                        <q-card-section>
                                            <div style="line-height:30px;font-size:15px">
                                                <el-row>
                                                    <el-col :xs="24" :md="24" style="line-height:40px" v-if="$validator.is(item.proprietarioCaptacao)">
                                                        <div v-if="$validator.is(item.proprietario.nome)" style="font-weight:500;color:var(--s-color-primary)"><i class="fa fa-user"></i> {{item.proprietario.nome}} <q-btn icon="fa fa-copy" flat @click="$tools.Copy(item.proprietario.nome)" color="grey" style="width:10px"></q-btn></div>
                                                        <div v-if="$validator.is(item.proprietario.email)"><a :href="'mailto:'+item.proprietario.email" target="_blank" style="color:var(--el-color-primary);text-decoration:none"><i class="fa fa-envelope"></i>&nbsp; {{item.proprietario.email}}</a>  <q-btn icon="fa fa-copy" flat @click="$tools.Copy(item.proprietario.email)" color="grey" style="width:10px"></q-btn></div>
                                                        <div v-if="$validator.is(item.proprietario.telefone)"><a :href="$tools.BuildWhatsappLink(item.proprietario.telefone  ,('Olá '+ $tools.Capitalize(item.proprietario.nome)) )" target="_blank" style="color:var(--s-color-green);text-decoration:none"><i class="fab fa-whatsapp"></i> {{item.proprietario.telefone}}</a>    <q-btn icon="fa fa-copy" flat @click="$tools.Copy(item.proprietario.telefone)" color="grey" style="width:10px"></q-btn> </div>
                                                        <div v-if="$validator.is(item.proprietario.telefone2)"><a :href="$tools.BuildWhatsappLink(item.proprietario.telefone2,('Olá '+ $tools.Capitalize(item.proprietario.nome)) )" target="_blank" style="color:var(--s-color-green);text-decoration:none"><i class="fab fa-whatsapp"></i> {{item.proprietario.telefone2}}</a>  <q-btn icon="fa fa-copy" flat @click="$tools.Copy(item.proprietario.telefone2)" color="grey" style="width:10px"></q-btn> </div>
                                                        <div v-if="$validator.is(item.proprietario.telefone3)"><a :href="$tools.BuildWhatsappLink(item.proprietario.telefone3,('Olá '+ $tools.Capitalize(item.proprietario.nome)) )" target="_blank" style="color:var(--s-color-green);text-decoration:none"><i class="fab fa-whatsapp"></i> {{item.proprietario.telefone3}}</a>  <q-btn icon="fa fa-copy" flat @click="$tools.Copy(item.proprietario.telefone3)" color="grey" style="width:10px"></q-btn> </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </q-card-section>
                                    </q-card>
                                </div>




                            <div style="margin-top:10px;font-weight:500;cursor:pointer;color:#000">
                                <el-input v-model="item.url" readonly input-style="color:#000;text-transform:lowercase;">
                                    <template #prepend>
                                        <div style="text-transform:uppercase;font-weight:660;width:110px;text-align:right;cursor:pointer" @click="$tools.OpenLink(item.url)">
                                            URL    <i v-if="!item.validadaURL" title="URL inválida" style="padding-left:4px;color:#ff0000;font-size:17px;" class="fa fa-warning"></i><i v-else style="padding-left:10px" class="fa fa-link"></i>
                                        </div>
                                    </template>
                                    <template #append>
                                        <q-btn icon="fa fa-copy" flat @click="$tools.CopyLink(item.url)" style="width:10px" :title="item.url"></q-btn>
                                        <q-btn icon="fa fa-up-right-from-square" flat style="margin-left:5px;width:10px" @click="$tools.OpenLink(item.url)"></q-btn>
                                        <q-btn icon="fa fa-caret-down" flat style="margin-left:5px;width:10px" @click="item.acao='abrir-url'" v-if="item.acao != 'abrir-url'"></q-btn>
                                        <q-btn icon="fa fa-caret-up" flat style="margin-left:5px;width:10px" @click="item.acao='fechar'" v-else></q-btn>
                                    </template>
                                </el-input>
                                <div v-if="item.acao=='abrir-url'">
                                    <q-card>
                                        <q-card-section>
                                            <el-input v-model="item.url" placeholder="" type="textarea" :autosize="{ minRows: 2, maxRows: 4 }" style="font-size:12pt"></el-input>
                                        </q-card-section>
                                    </q-card>
                                </div>
                            </div>


                            <div style="margin-top:10px;font-weight:500;cursor:pointer;color:#000">
                                <el-input placeholder="" :value="$tools.BuildAddress(item)" readonly input-style="color:#000">
                                    <template #prepend>
                                        <div style="text-transform:uppercase;font-weight:660;width:110px;text-align:right;cursor:pointer" @click="$tools.OpenMap(item)">
                                            Local   <i v-if="!item.validadoEndereco" title="endereço inválido" style="padding-left:4px;color:#ff0000;font-size:17px;" class="fa fa-warning"></i><i v-else style="padding-left:10px" class="fa fa-map-marker-alt"></i>
                                        </div>
                                    </template>
                                    <template #append>
                                        <q-btn icon="fa fa-copy" flat @click="$tools.Copy($tools.BuildAddress(item))" style="width:10px"></q-btn>
                                        <q-btn icon="fa fa-up-right-from-square" flat style="margin-left:5px;width:10px" @click="$tools.OpenMap(item)"></q-btn>
                                        <!--<q-btn icon="fa fa-caret-down" flat style="margin-left:5px;width:10px" @click="AbrirEdicaoEndereco(item)" v-if="item.acao != 'abrir-endereco'"></q-btn>
                            <q-btn icon="fa fa-caret-up" flat style="margin-left:5px;width:10px" @click="item.acao='fechar'" v-else></q-btn>-->
                                    </template>
                                </el-input>
                                <div v-if="item.acao=='abrir-endereco'">
                                    <q-card>

                                        <q-card-section>

                                        </q-card-section>
                                    </q-card>
                                </div>
                            </div>



                            <div style="margin-top:10px;font-weight:500;color:#000">
                                <el-input placeholder="" :value="ObterDataVisita(item)" readonly input-style="color:#000">
                                    <template #prepend>
                                        <div style="text-transform:uppercase;font-weight:660;width:110px;text-align:right;cursor:pointer" @click="$tools.OpenCalendar(item.dataVisita)">
                                            Visita   <i style="padding-left:10px" class="fa fa-calendar" title="visita agendada"></i>
                                        </div>
                                    </template>
                                    <template #append>
                                        <q-btn icon="fa fa-copy" flat @click="()=>{ item.dataVisita.getFullYear() > 1900? $tools.Copy(item.dataVisita.format('dd/mm/yyyy, ddd, HH:MM\'h\'')) : $tools.MessageAlert('Data não especificada'); }" style="width:10px"></q-btn>
                                        <q-btn icon="fa fa-up-right-from-square" flat style="margin-left:5px;width:10px" @click="$tools.OpenCalendar(item.dataVisita)"></q-btn>
                                    </template>
                                </el-input>
                            </div>



                            <div style="margin-top:10px;font-weight:500;color:#000">
                                <el-input placeholder="" :value="item.descricao" input-style="color:#000">
                                    <template #prepend>
                                        <div style="text-transform:uppercase;font-weight:700;width:110px;text-align:right;cursor:pointer" @click="()=>{item.acao=='abrir-descricao'?  item.acao='fechar-descricao' :  item.acao='abrir-descricao';}">
                                            OBS <i style="padding-left:10px" class="fa fa-message"></i>
                                        </div>
                                    </template>
                                    <template #append>
                                        <div @click="()=>{item.acao=='abrir-descricao'?  item.acao='fechar-descricao' :  item.acao='abrir-descricao';}" style="cursor:pointer;text-align:center">
                                            <q-btn icon="fa fa-caret-down" flat style="margin-left:5px;width:10px" v-if="item.acao != 'abrir-descricao'"></q-btn>
                                            <q-btn icon="fa fa-caret-up" flat style="margin-left:5px;width:10px" v-else></q-btn>
                                        </div>
                                    </template>
                                </el-input>
                                <div v-if="item.acao=='abrir-descricao'">
                                    <el-input v-model="item.descricao" placeholder="" type="textarea" readonly input-style="color:#000" :autosize="{ minRows: 2, maxRows: 4 }" style="font-size:12pt"></el-input>
                                </div>
                            </div>


                            <div style="margin-top:10px;font-weight:500;color:#000">
                                <el-input placeholder="" :value="item.avaliacao" input-style="color:#000">
                                    <template #prepend>
                                        <div style="text-transform:uppercase;font-weight:700;width:110px;text-align:right;cursor:pointer" @click="()=>{item.acao=='abrir-avaliacao'?  item.acao='fechar-avaliacao' :  item.acao='abrir-avaliacao';}">
                                            Avaliação <i style="padding-left:10px" class="fa fa-house-circle-check"></i>
                                        </div>
                                    </template>
                                    <template #append>
                                        <div @click="()=>{item.acao=='abrir-avaliacao'?  item.acao='fechar-avaliacao' :  item.acao='abrir-avaliacao';}" style="cursor:pointer;text-align:center">
                                            <q-btn icon="fa fa-caret-down" flat style="margin-left:5px;width:10px" v-if="item.acao != 'abrir-avaliacao'"></q-btn>
                                            <q-btn icon="fa fa-caret-up" flat style="margin-left:5px;width:10px" v-else></q-btn>
                                        </div>
                                    </template>
                                </el-input>
                                <div v-if="item.acao=='abrir-avaliacao'">
                                    <el-input v-model="item.avaliacao" placeholder="" type="textarea" readonly input-style="color:#000" :autosize="{ minRows: 3, maxRows: 5}" style="font-size:12pt"></el-input>
                                </div>
                            </div>


                            <div style="margin-top:10px;width:100%;text-align:center">
                                <q-btn v-if="$root.usuario.gestor" label="REALOCAR" :color="item.idStatus==11? 'red':'teal'" text-color="white" @click="RealocarFinalizada(item)" :loading="item.acao=='realocar'" style="width:160px;margin-left:00px"></q-btn>
                            </div>


                        </div>

                    </q-card-section>
                </q-card>

            </el-col>

            <!--
        <c-card status="DEFAULT"      title="CANCELADO"           >TESTE</c-card>
        <c-card status="AGUARDANDO"   title="AGUARDANDO CAPTADOR" >TESTE</c-card>
        <c-card status="VERIFICANDO"  title="EM VERIFICAÇÃO"      >TESTE</c-card>
        <c-card status="FINALIZADO"   title="FINALIZADO"          >TESTE</c-card>
        -->

        </el-row>

    </div>
</template>

<script>
    module.exports = {

        name: 'JaCapteiParceiroSolicitacaoBuscar8929325',

        components: {

        },

        data: function () {
            return {
                view: "form",
                messageSuccess: "",
                messageAlert: "",
                content: "",
                carregandoCEP: false,
                carregandoEstados: false,
                carregandoCidades: false,
                carregandoBairros: false,
                cep: {
                    numero: "",
                    estado: "",
                    cidade: "",
                    logradouro: ""
                },
                opcoes: {
                    estados: this.$root.localidade.estados,
                    cidades: [],
                    bairros: [],
                    sexos: [],
                },
                solicitacao: this.$models.solicitacao(),
                results: [],
                city:""
            }
        }, computed: {

        },

        props: {},
        watch: {
        },
        created: function () {
        },
        mounted() {
            this.Enviar();


            $(document).keydown((e) => {

                if (this.$router.currentRoute._rawValue.path == "/parceiros") {
                    try {
                       return this.UpdateParceiroSolicitacoes(e);
                    } catch (e) {

                    }

                }
                  //  return this.Update(e);
            });  


        },
        methods: {


            UpdateParceiroSolicitacoes(e) {
                try {

                    if (e.keyCode == 116)
                        this.Enviar();
                } catch (e) { ce("" + e); }
                return (e.which || e.keyCode) != 116;
            },



            ShowView(v) {
                this.view = v;
            },

            ObterDataVisita(item) {
                if (this.$validator.is(item.dataVisita)) {
                    var data = item.dataVisita;
                    //return data.format("dd/mm/yyyy, ddd, HH:MM'h'");
                    return (data.getFullYear() > 1900) ? data.format("dd/mm/yyyy, ddd, HH:MM'h'") : "sem visita agendada";
                }
                return "";
            },


           async Enviar() {

                    this.view = "request";

                    //var request = await this.$api.Get("solicitacao/obter/todos/parceiro");
                    var request = await this.$api.Get("solicitacao/obter/solicitacoes/parceiro");

                    if (request?.status?.success){
                        this.results = request.result;

                        //this.results.forEach(i => i.dataVisita = new Date(i.dataVisita));


                        this.results.forEach(i => {
                            i.data              = this.$tools.DateFix(i.data             );
                            i.dataVisita        = this.$tools.DateFix(i.dataVisita       );
                            i.dataAgendamento   = this.$tools.DateFix(i.dataAgendamento  );
                            i.dataReagendamento = this.$tools.DateFix(i.dataReagendamento);
                            i.dataConfirmado    = this.$tools.DateFix(i.dataConfirmado   );
                            i.dataVisitado      = this.$tools.DateFix(i.dataVisitado     );
                            i.dataConcluido     = this.$tools.DateFix(i.dataConcluido    );
                            
                            //i.dataVisita        = new Date(new Date(i.dataVisita        ).toISOString());
                            //i.dataAgendamento   = new Date(new Date(i.dataAgendamento   ).toISOString());
                            //i.dataReagendamento = new Date(new Date(i.dataVisita        ).toISOString());
                            //i.dataConfirmado    = new Date(new Date(i.dataConfirmado    ).toISOString());
                            //i.dataVisitado      = new Date(new Date(i.dataVisitado      ).toISOString());
                            //i.dataConcluido     = new Date(new Date(i.dataConcluido     ).toISOString());

                            i.acaocard = 'fechar-card' + i.id;
                            i.agendado = (i.dataVisita.getFullYear() > 1900);
                            // i.proprietarioCaptacao = "Teste, (11) 98498-4894, paulogneto@gmail.com";
                            if (this.$validator.is(i.proprietarioCaptacao)) {
                                var fields = i.proprietarioCaptacao.split(",");
                                i.proprietario.nome = this.$validator.is(fields[0]) ? fields[0] : null;
                                i.proprietario.email = this.$validator.is(fields[1]) ? fields[1] : null;
                                i.proprietario.telefone = this.$validator.is(fields[2]) ? fields[2] : null;
                                i.proprietario.telefone2 = this.$validator.is(fields[3]) ? fields[3] : null;
                                i.proprietario.telefone3 = this.$validator.is(fields[4]) ? fields[4] : null;
                            }
                        });


                        this.view = "success";
                        //c(request);
                    } else
                        this.view = "fail";

            },






        }

    }

</script>


<style scoped>
    .s-input{
        margin-bottom:20px;
    }
</style>


