<template>
    <div class="header">
        <div style="display:inline-block;cursor:pointer;float:left;padding-top:0px;max-width:200px" @click="$root.RouteTo('/home')" id="image">
            <img style="margin-left:20px;" src="/resources/images/logo.png"/>
        </div>

        <div style="display:inline-block;width:calc(100% - 200px)">
            <c-menu></c-menu>
        </div>
    </div>
</template>

<script>
    module.exports = {
        components: {

        },

        data: function () {
            return {}
        },
        computed: {},
        props: {
            title: { type: String, required: false, default: "Home" },
            icon: { type: String, required: false, default: "fa fa-house" }
        },
        watch: {},
        created: function () { },
        mounted() { },
        methods: {}
    }
</script>

<style scoped>
   .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: white;
        padding: 0px 1px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .angle {
        padding: 10px;
        font-size: 12px;
    }

    .caret {
        margin-top: -12px;
        padding: 10px;
        vertical-align: middle;
        height: 20px;
        line-height: 20px;
        text-align: left;
        float: left;
        display: inline-block;
        font-size: 24px;
        cursor: pointer;
        color: #fff;
        background-color: #ff6a00;
    }

    @media only screen and (max-width: 1480px) {
        #image {
            padding-left: 20px;
        }
    }
</style>