<template>
	  <div style="display:inline-block">
		  	<q-spinner  :size="size" :thickness="thickness" :style="'color:'+color"></q-spinner>
	   </div>
</template>



<script>
module.exports = {

    components: {

	},	
	
	data: function () {
		return {
			styled:""
		}
	},computed: {
      
	},
	
	props:{
        size:		{ type: String, required: false, default: "2em" },
        thickness:  { type: Number, required: false, default: 3 },
        color:		{ type: String, required: false, default: "var(--s-accent-color)" },
	},
	watch:{
	},
	created: function () {
	 },
	mounted(){
	},		  
	methods: {

	}				
		
}

</script>


<style scoped>


</style>


