<template>

    <div :style="(screenWidth > 1800)? 'width:200px':'width:64px'"></div>

</template>

<script>
module.exports = {

    components: {

	},	
	
        data: function () {
            return {
                screenWidth: window.screen.width,
                language:"PT-BR",
                labels:[]
            }
        }, computed: {

        },

        props: {

        },
        watch: {
        },
        created: function () {

            this.labels["PT-BR"] = [];
            this.labels["PT-BR"]["001-001"] = "Home"              ;
            this.labels["PT-BR"]["001-002"] = "OSs"               ;
            this.labels["PT-BR"]["001-003"] = "Clientes"          ;
            this.labels["PT-BR"]["100-000"] = "Administração"     ;
            this.labels["PT-BR"]["100-001"] = "Usuários"          ;
            this.labels["PT-BR"]["100-002"] = "Serviços"          ;
            this.labels["PT-BR"]["100-003"] = "Produtos"          ;
            this.labels["PT-BR"]["100-004"] = "Tipos de Produtos" ;
            this.labels["PT-BR"]["100-005"] = "Cores"             ;
            this.labels["PT-BR"]["100-006"] = "Preferências"      ;
            
            this.labels["US-EN"] = [];
            this.labels["US-EN"]["001-001"] = "Home"           ;
            this.labels["US-EN"]["001-002"] = "Orders"         ;
            this.labels["US-EN"]["001-003"] = "Clients"        ;
            this.labels["US-EN"]["100-000"] = "Administration" ;
            this.labels["US-EN"]["100-001"] = "Users"          ;
            this.labels["US-EN"]["100-002"] = "Services"       ;
            this.labels["US-EN"]["100-003"] = "Products"         ;
            this.labels["US-EN"]["100-004"] = "Products Types"   ;
            this.labels["US-EN"]["100-005"] = "Colors"         ;
            this.labels["US-EN"]["100-006"] = "Preferences"    ;
	 },
	mounted(){
       // cclear();
       //this.isCollapse = this.$root.isMenuCollapse;
	},		  
	methods: {
	}				
		
}

</script>


<!--<script setup>
const isCollapse = ref(true);
const handleOpen = function(key, keyPath){
  c(key, keyPath);
}
const handleClose = function(key, keyPath){
  c(key, keyPath);
}
</script>-->

<style scoped>

</style>

